@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap") layer(base);

@import "tailwindcss";

@config "../../tailwind.config.js";

@utility skeleton {
  @apply animate-pulse rounded-md bg-base-bg-secondary;
}

@utility scrollbar-hide {
  scrollbar-width: none;
}

@utility scrollbar-styled {
  scrollbar-width: thin;
}

@utility icon-* {
  font-size: calc(var(--spacing) * --value(number));
  font-size: --value([length]);
}

@layer base {
  body,
  #app,
  .layout {
    min-height: 100dvh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    @apply bg-base-bg-primary;
  }

  * {
    @apply transition-colors;
  }
}
