:root {
  --base-text-primary: var(--core-color-grey-900);
  --base-text-primary_hover: var(--core-color-grey-800);
  --base-text-primary_pressed: var(--core-color-grey-700);
  --base-text-primary-reverse: var(--core-color-grey-25);
  --base-text-primary-reverse_hover: var(--core-color-grey-50);
  --base-text-primary-reverse_pressed: var(--core-color-grey-100);
  --base-text-secondary: var(--core-color-grey-700);
  --base-text-secondary_hover: var(--core-color-grey-800);
  --base-text-secondary_pressed: var(--core-color-grey-900);
  --base-text-tertiary: var(--core-color-grey-600);
  --base-text-tertiary_hover: var(--core-color-grey-700);
  --base-text-quaternary: var(--core-color-grey-500);
  --base-text-quaternary_hover: var(--core-color-grey-600);
  --base-text-quinary: var(--core-color-grey-400);
  --base-text-brand: var(--core-color-brand-700);
  --base-text-brand_hover: var(--core-color-brand-800);
  --base-text-brand_pressed: var(--core-color-brand-900);
  --base-text-error: var(--core-color-error-600);
  --base-text-error_hover: var(--core-color-error-700);
  --base-text-error_pressed: var(--core-color-error-800);
  --base-text-white: var(--white);
  --base-text-disabled: var(--core-color-grey-400);
  --base-text-placeholder: var(--core-color-grey-400);
  --base-text-placeholder-subtle: var(--core-color-grey-300);
  --base-fg-primary: var(--core-color-grey-900);
  --base-fg-primary_hover: var(--core-color-grey-800);
  --base-fg-primary_pressed: var(--core-color-grey-700);
  --base-fg-primary-reverse: var(--core-color-grey-50);
  --base-fg-primary-reverse_hover: var(--core-color-grey-100);
  --base-fg-primary-reverse_pressed: var(--core-color-grey-200);
  --base-fg-secondary: var(--core-color-grey-700);
  --base-fg-secondary_hover: var(--core-color-grey-800);
  --base-fg-secondary_pressed: var(--core-color-grey-900);
  --base-fg-tertiary: var(--core-color-grey-600);
  --base-fg-tertiary_hover: var(--core-color-grey-700);
  --base-fg-quaternary: var(--core-color-grey-500);
  --base-fg-quaternary_hover: var(--core-color-grey-600);
  --base-fg-quinary: var(--core-color-grey-400);
  --base-fg-brand: var(--core-color-brand-600);
  --base-fg-brand_hover: var(--core-color-brand-700);
  --base-fg-brand_pressed: var(--core-color-brand-800);
  --base-fg-brand-reverse: var(--core-color-brand-50);
  --base-fg-brand-reverse_hover: var(--core-color-brand-100);
  --base-fg-brand-reverse_pressed: var(--core-color-brand-200);
  --base-fg-error: var(--core-color-error-600);
  --base-fg-error_hover: var(--core-color-error-700);
  --base-fg-error_pressed: var(--core-color-error-800);
  --base-fg-white: var(--white);
  --base-fg-disabled: var(--core-color-grey-400);
  --base-fg-disabled_subtle: var(--core-color-grey-300);
  --base-fg-placeholder: var(--core-color-grey-400);
  --base-border-primary: var(--core-color-grey-300);
  --base-border-secondary: var(--core-color-grey-200);
  --base-border-tertiary: var(--core-color-grey-100);
  --base-border-quaternary: var(--core-color-grey-50);
  --base-border-disabled: var(--core-color-grey-300);
  --base-border-disabled_subtle: var(--core-color-grey-200);
  --base-border-brand: var(--core-color-brand-300);
  --base-border-brand-solid: var(--core-color-brand-600);
  --base-border-error: var(--core-color-error-300);
  --base-border-error-solid: var(--core-color-error-600);
  --base-bg-primary: var(--core-color-brand-25);
  --base-bg-primary_alt: var(--core-color-brand-25);
  --base-bg-primary-reverse: var(--core-color-grey-950);
  --base-bg-primary-reverse_hover: var(--core-color-grey-800);
  --base-bg-primary-reverse_pressed: var(--core-color-grey-700);
  --base-bg-secondary: var(--core-color-brand-50);
  --base-bg-secondary_alt: var(--core-color-brand-50);
  --base-bg-secondary_hover: var(--core-color-brand-100);
  --base-bg-secondary_pressed: var(--core-color-brand-200);
  --base-bg-tertiary: var(--core-color-brand-100);
  --base-bg-tertiary_hover: var(--core-color-brand-200);
  --base-bg-tertiary_pressed: var(--core-color-brand-300);
  --base-bg-tertiary_alt: var(--core-color-brand-100);
  --base-bg-quaternary: var(--core-color-brand-200);
  --base-bg-neutral: var(--core-color-grey-100);
  --base-bg-neutral_hover: var(--core-color-grey-200);
  --base-bg-neutral_pressed: var(--core-color-grey-300);
  --base-bg-brand: var(--core-color-brand-100);
  --base-bg-brand_hover: var(--core-color-brand-200);
  --base-bg-brand_pressed: var(--core-color-brand-300);
  --base-bg-brand-reverse: var(--core-color-brand-700);
  --base-bg-brand-reverse_hover: var(--core-color-brand-800);
  --base-bg-brand-reverse_pressed: var(--core-color-brand-900);
  --base-bg-error: var(--core-color-error-100);
  --base-bg-error_hover: var(--core-color-error-200);
  --base-bg-error_pressed: var(--core-color-error-300);
  --base-bg-error-reverse: var(--core-color-error-600);
  --base-bg-error-reverse_hover: var(--core-color-error-700);
  --base-bg-error-reverse_pressed: var(--core-color-error-800);
  --base-bg-white: var(--white);
  --base-bg-active: var(--core-color-grey-50);
  --base-bg-disabled: var(--core-color-grey-100);
  --base-bg-disabled_subtle: var(--core-color-grey-50);
  --base-bg-overlay: var(--core-alpha-black-40);
  --util-color-brand-25: var(--core-color-brand-25);
  --util-color-brand-50: var(--core-color-brand-50);
  --util-color-brand-100: var(--core-color-brand-100);
  --util-color-brand-200: var(--core-color-brand-200);
  --util-color-brand-300: var(--core-color-brand-300);
  --util-color-brand-400: var(--core-color-brand-400);
  --util-color-brand-500: var(--core-color-brand-500);
  --util-color-brand-600: var(--core-color-brand-600);
  --util-color-brand-700: var(--core-color-brand-700);
  --util-color-brand-800: var(--core-color-brand-800);
  --util-color-brand-900: var(--core-color-brand-900);
  --util-color-brand-950: var(--core-color-brand-950);
  --util-color-brand-alt-25: var(--core-color-brand-25);
  --util-color-brand-alt-50: var(--core-color-brand-50);
  --util-color-brand-alt-100: var(--core-color-brand-100);
  --util-color-brand-alt-200: var(--core-color-brand-200);
  --util-color-brand-alt-300: var(--core-color-brand-300);
  --util-color-brand-alt-400: var(--core-color-brand-400);
  --util-color-brand-alt-500: var(--core-color-brand-500);
  --util-color-brand-alt-600: var(--core-color-brand-600);
  --util-color-brand-alt-700: var(--core-color-brand-700);
  --util-color-brand-alt-800: var(--core-color-brand-800);
  --util-color-brand-alt-900: var(--core-color-brand-900);
  --util-color-brand-alt-950: var(--core-color-brand-950);
  --util-color-leaf-25: var(--core-color-leaf-25);
  --util-color-leaf-50: var(--core-color-leaf-50);
  --util-color-leaf-100: var(--core-color-leaf-100);
  --util-color-leaf-200: var(--core-color-leaf-200);
  --util-color-leaf-300: var(--core-color-leaf-300);
  --util-color-leaf-400: var(--core-color-leaf-400);
  --util-color-leaf-500: var(--core-color-leaf-500);
  --util-color-leaf-600: var(--core-color-leaf-600);
  --util-color-leaf-700: var(--core-color-leaf-700);
  --util-color-leaf-800: var(--core-color-leaf-800);
  --util-color-leaf-900: var(--core-color-leaf-900);
  --util-color-leaf-950: var(--core-color-leaf-950);
  --util-color-forest-25: var(--core-color-forest-25);
  --util-color-forest-50: var(--core-color-forest-50);
  --util-color-forest-100: var(--core-color-forest-100);
  --util-color-forest-200: var(--core-color-forest-200);
  --util-color-forest-300: var(--core-color-forest-300);
  --util-color-forest-400: var(--core-color-forest-400);
  --util-color-forest-500: var(--core-color-forest-500);
  --util-color-forest-600: var(--core-color-forest-600);
  --util-color-forest-700: var(--core-color-forest-700);
  --util-color-forest-800: var(--core-color-forest-800);
  --util-color-forest-900: var(--core-color-forest-900);
  --util-color-forest-950: var(--core-color-forest-950);
  --util-color-waterblue-25: var(--core-color-waterblue-25);
  --util-color-waterblue-50: var(--core-color-waterblue-50);
  --util-color-waterblue-100: var(--core-color-waterblue-100);
  --util-color-waterblue-200: var(--core-color-waterblue-200);
  --util-color-waterblue-300: var(--core-color-waterblue-300);
  --util-color-waterblue-400: var(--core-color-waterblue-400);
  --util-color-waterblue-500: var(--core-color-waterblue-500);
  --util-color-waterblue-600: var(--core-color-waterblue-600);
  --util-color-waterblue-700: var(--core-color-waterblue-700);
  --util-color-waterblue-800: var(--core-color-waterblue-800);
  --util-color-waterblue-900: var(--core-color-waterblue-900);
  --util-color-waterblue-950: var(--core-color-waterblue-950);
  --util-color-clearblue-25: var(--core-color-clearblue-25);
  --util-color-clearblue-50: var(--core-color-clearblue-50);
  --util-color-clearblue-100: var(--core-color-clearblue-100);
  --util-color-clearblue-200: var(--core-color-clearblue-200);
  --util-color-clearblue-300: var(--core-color-clearblue-300);
  --util-color-clearblue-400: var(--core-color-clearblue-400);
  --util-color-clearblue-500: var(--core-color-clearblue-500);
  --util-color-clearblue-600: var(--core-color-clearblue-600);
  --util-color-clearblue-700: var(--core-color-clearblue-700);
  --util-color-clearblue-800: var(--core-color-clearblue-800);
  --util-color-clearblue-900: var(--core-color-clearblue-900);
  --util-color-clearblue-950: var(--core-color-clearblue-900);
  --util-color-purple-25: var(--core-color-purple-25);
  --util-color-purple-50: var(--core-color-purple-50);
  --util-color-purple-100: var(--core-color-purple-100);
  --util-color-purple-200: var(--core-color-purple-200);
  --util-color-purple-300: var(--core-color-purple-300);
  --util-color-purple-400: var(--core-color-purple-400);
  --util-color-purple-500: var(--core-color-purple-500);
  --util-color-purple-600: var(--core-color-purple-600);
  --util-color-purple-700: var(--core-color-purple-700);
  --util-color-purple-800: var(--core-color-purple-800);
  --util-color-purple-900: var(--core-color-purple-900);
  --util-color-purple-950: var(--core-color-purple-950);
  --util-color-magenta-25: var(--core-color-magenta-25);
  --util-color-magenta-50: var(--core-color-magenta-50);
  --util-color-magenta-100: var(--core-color-magenta-100);
  --util-color-magenta-200: var(--core-color-magenta-200);
  --util-color-magenta-300: var(--core-color-magenta-300);
  --util-color-magenta-400: var(--core-color-magenta-400);
  --util-color-magenta-500: var(--core-color-magenta-500);
  --util-color-magenta-600: var(--core-color-magenta-600);
  --util-color-magenta-700: var(--core-color-magenta-700);
  --util-color-magenta-800: var(--core-color-magenta-800);
  --util-color-magenta-900: var(--core-color-magenta-900);
  --util-color-magenta-950: var(--core-color-magenta-950);
  --util-color-rosered-25: var(--core-color-rosered-25);
  --util-color-rosered-50: var(--core-color-rosered-50);
  --util-color-rosered-100: var(--core-color-rosered-100);
  --util-color-rosered-200: var(--core-color-rosered-200);
  --util-color-rosered-300: var(--core-color-rosered-300);
  --util-color-rosered-400: var(--core-color-rosered-400);
  --util-color-rosered-500: var(--core-color-rosered-500);
  --util-color-rosered-600: var(--core-color-rosered-600);
  --util-color-rosered-700: var(--core-color-rosered-700);
  --util-color-rosered-800: var(--core-color-rosered-800);
  --util-color-rosered-900: var(--core-color-rosered-900);
  --util-color-rosered-950: var(--core-color-rosered-950);
  --util-color-yellow-25: var(--core-color-yellow-25);
  --util-color-yellow-50: var(--core-color-yellow-50);
  --util-color-yellow-100: var(--core-color-yellow-100);
  --util-color-yellow-200: var(--core-color-yellow-200);
  --util-color-yellow-300: var(--core-color-yellow-300);
  --util-color-yellow-400: var(--core-color-yellow-400);
  --util-color-yellow-500: var(--core-color-yellow-500);
  --util-color-yellow-600: var(--core-color-yellow-600);
  --util-color-yellow-700: var(--core-color-yellow-700);
  --util-color-yellow-800: var(--core-color-yellow-800);
  --util-color-yellow-900: var(--core-color-yellow-900);
  --util-color-yellow-950: var(--core-color-yellow-950);
  --util-color-grey-25: var(--core-color-grey-25);
  --util-color-grey-50: var(--core-color-grey-50);
  --util-color-grey-100: var(--core-color-grey-100);
  --util-color-grey-200: var(--core-color-grey-200);
  --util-color-grey-300: var(--core-color-grey-300);
  --util-color-grey-400: var(--core-color-grey-400);
  --util-color-grey-500: var(--core-color-grey-500);
  --util-color-grey-600: var(--core-color-grey-600);
  --util-color-grey-700: var(--core-color-grey-700);
  --util-color-grey-800: var(--core-color-grey-800);
  --util-color-grey-900: var(--core-color-grey-900);
  --util-color-grey-950: var(--core-color-grey-950);
  --util-color-error-25: var(--core-color-error-25);
  --util-color-error-50: var(--core-color-error-50);
  --util-color-error-100: var(--core-color-error-100);
  --util-color-error-200: var(--core-color-error-200);
  --util-color-error-300: var(--core-color-error-300);
  --util-color-error-400: var(--core-color-error-400);
  --util-color-error-500: var(--core-color-error-500);
  --util-color-error-600: var(--core-color-error-600);
  --util-color-error-700: var(--core-color-error-700);
  --util-color-error-800: var(--core-color-error-800);
  --util-color-error-900: var(--core-color-error-900);
  --util-color-error-950: var(--core-color-error-950);
  --util-color-warning-25: var(--core-color-warning-25);
  --util-color-warning-50: var(--core-color-warning-50);
  --util-color-warning-100: var(--core-color-warning-100);
  --util-color-warning-200: var(--core-color-warning-200);
  --util-color-warning-300: var(--core-color-warning-300);
  --util-color-warning-400: var(--core-color-warning-400);
  --util-color-warning-500: var(--core-color-warning-500);
  --util-color-warning-600: var(--core-color-warning-600);
  --util-color-warning-700: var(--core-color-warning-700);
  --util-color-warning-800: var(--core-color-warning-800);
  --util-color-warning-900: var(--core-color-warning-900);
  --util-color-warning-950: var(--core-color-warning-950);
  --util-color-success-25: var(--core-color-success-25);
  --util-color-success-50: var(--core-color-success-50);
  --util-color-success-100: var(--core-color-success-100);
  --util-color-success-200: var(--core-color-success-200);
  --util-color-success-300: var(--core-color-success-300);
  --util-color-success-400: var(--core-color-success-400);
  --util-color-success-500: var(--core-color-success-500);
  --util-color-success-600: var(--core-color-success-600);
  --util-color-success-700: var(--core-color-success-700);
  --util-color-success-800: var(--core-color-success-800);
  --util-color-success-900: var(--core-color-success-900);
  --util-color-success-950: var(--core-color-success-950);
  --util-alpha-white-0: var(--core-alpha-white-0);
  --util-alpha-white-5: var(--core-alpha-white-5);
  --util-alpha-white-10: var(--core-alpha-white-10);
  --util-alpha-white-20: var(--core-alpha-white-20);
  --util-alpha-white-30: var(--core-alpha-white-30);
  --util-alpha-white-40: var(--core-alpha-white-40);
  --util-alpha-white-50: var(--core-alpha-white-50);
  --util-alpha-white-60: var(--core-alpha-white-60);
  --util-alpha-white-70: var(--core-alpha-white-70);
  --util-alpha-white-80: var(--core-alpha-white-80);
  --util-alpha-white-90: var(--core-alpha-white-90);
  --util-alpha-white-100: var(--core-alpha-white-100);
  --util-alpha-black-0: var(--core-alpha-black-0);
  --util-alpha-black-5: var(--core-alpha-black-5);
  --util-alpha-black-10: var(--core-alpha-black-10);
  --util-alpha-black-20: var(--core-alpha-black-20);
  --util-alpha-black-30: var(--core-alpha-black-30);
  --util-alpha-black-40: var(--core-alpha-black-40);
  --util-alpha-black-50: var(--core-alpha-black-50);
  --util-alpha-black-60: var(--core-alpha-black-60);
  --util-alpha-black-70: var(--core-alpha-black-70);
  --util-alpha-black-80: var(--core-alpha-black-80);
  --util-alpha-black-90: var(--core-alpha-black-90);
  --util-alpha-black-100: var(--core-alpha-black-100);
  --comp-button-close-fg-default: var(--core-alpha-black-50);
  --comp-button-close-bg-hover: var(--core-alpha-black-5);
  --comp-button-close-bg-pressed: var(--core-alpha-black-10);
  --white: #ffffff;
  --black: #000000;
  --core-color-brand-25: #fafbfa;
  --core-color-brand-50: #f2f5f3;
  --core-color-brand-100: #e5ebe8;
  --core-color-brand-200: #d4ddd9;
  --core-color-brand-300: #b2c3bb;
  --core-color-brand-400: #92aa9f;
  --core-color-brand-500: #799689;
  --core-color-brand-600: #647c72;
  --core-color-brand-700: #4f635a;
  --core-color-brand-800: #41534b;
  --core-color-brand-900: #35453e;
  --core-color-brand-950: #232f2a;
  --core-color-secondary-25: #f9fcfc;
  --core-color-secondary-50: #f0f6f6;
  --core-color-secondary-100: #e3eded;
  --core-color-secondary-200: #cbdcdc;
  --core-color-secondary-300: #aac5c5;
  --core-color-secondary-400: #719e9e;
  --core-color-secondary-500: #4f8786;
  --core-color-secondary-600: #447373;
  --core-color-secondary-700: #3b6463;
  --core-color-secondary-800: #315252;
  --core-color-secondary-900: #274140;
  --core-color-secondary-950: #1d2f2f;
  --core-color-highlight-25: #fefcfb;
  --core-color-highlight-50: #fef9f6;
  --core-color-highlight-100: #fdf3ee;
  --core-color-highlight-200: #fbe8df;
  --core-color-highlight-300: #f6ccba;
  --core-color-highlight-400: #eb885c;
  --core-color-highlight-500: #e5662f;
  --core-color-highlight-600: #c65827;
  --core-color-highlight-700: #a74a1f;
  --core-color-highlight-800: #883b18;
  --core-color-highlight-900: #692d10;
  --core-color-highlight-950: #4a1f08;
  --core-color-grey-25: #fafafa;
  --core-color-grey-50: #f2f2f2;
  --core-color-grey-100: #e8e8e8;
  --core-color-grey-200: #dbdcdc;
  --core-color-grey-300: #c1c3c2;
  --core-color-grey-400: #909393;
  --core-color-grey-500: #646867;
  --core-color-grey-600: #535756;
  --core-color-grey-700: #3e4140;
  --core-color-grey-800: #2d2f2e;
  --core-color-grey-900: #202221;
  --core-color-grey-950: #111312;
  --core-color-error-25: #fefafa;
  --core-color-error-50: #fdf4f4;
  --core-color-error-100: #fae0de;
  --core-color-error-200: #f8ccc9;
  --core-color-error-300: #f2a29e;
  --core-color-error-400: #eb726b;
  --core-color-error-500: #e5453d;
  --core-color-error-600: #ca3d35;
  --core-color-error-700: #ae352d;
  --core-color-error-800: #8d2a25;
  --core-color-error-900: #76231e;
  --core-color-error-950: #511915;
  --core-color-warning-25: #fefdfb;
  --core-color-warning-50: #fdf9f2;
  --core-color-warning-100: #f7e6ca;
  --core-color-warning-200: #efce95;
  --core-color-warning-300: #e8ba6d;
  --core-color-warning-400: #e1aa4c;
  --core-color-warning-500: #dd9720;
  --core-color-warning-600: #b77c1a;
  --core-color-warning-700: #8f6114;
  --core-color-warning-800: #704c10;
  --core-color-warning-900: #5a3e0c;
  --core-color-warning-950: #3f2c09;
  --core-color-success-25: #effbf7;
  --core-color-success-50: #e5f5ee;
  --core-color-success-100: #d2eee2;
  --core-color-success-200: #aadfc8;
  --core-color-success-300: #7dceac;
  --core-color-success-400: #58c094;
  --core-color-success-500: #3baa7a;
  --core-color-success-600: #308c64;
  --core-color-success-700: #287152;
  --core-color-success-800: #215f44;
  --core-color-success-900: #1a4c37;
  --core-color-success-950: #123628;
  --core-color-leaf-25: #f5f9f0;
  --core-color-leaf-50: #dfedcf;
  --core-color-leaf-100: #cae1ad;
  --core-color-leaf-200: #b4d58c;
  --core-color-leaf-300: #9ec86a;
  --core-color-leaf-400: #89bc48;
  --core-color-leaf-500: #73b027;
  --core-color-leaf-600: #5a8a1e;
  --core-color-leaf-700: #497119;
  --core-color-leaf-800: #3c5c14;
  --core-color-leaf-900: #2f480f;
  --core-color-leaf-950: #1c2c09;
  --core-color-forest-25: #f1f9f6;
  --core-color-forest-50: #dcefea;
  --core-color-forest-100: #c3e5da;
  --core-color-forest-200: #9cd4c4;
  --core-color-forest-300: #82c9b4;
  --core-color-forest-400: #6abea5;
  --core-color-forest-500: #4db294;
  --core-color-forest-600: #3c8b74;
  --core-color-forest-700: #2e6b59;
  --core-color-forest-800: #255647;
  --core-color-forest-900: #1a3d33;
  --core-color-forest-950: #132c25;
  --core-color-waterblue-25: #f0f7fa;
  --core-color-waterblue-50: #daecf1;
  --core-color-waterblue-100: #c3e1ea;
  --core-color-waterblue-200: #b0d7e3;
  --core-color-waterblue-300: #92c8d8;
  --core-color-waterblue-400: #74b8ce;
  --core-color-waterblue-500: #52a7c2;
  --core-color-waterblue-600: #42889e;
  --core-color-waterblue-700: #366f81;
  --core-color-waterblue-800: #2a5664;
  --core-color-waterblue-900: #1f414c;
  --core-color-waterblue-950: #142930;
  --core-color-clearblue-25: #ecf4fe;
  --core-color-clearblue-50: #d0e4fb;
  --core-color-clearblue-100: #a0c9f8;
  --core-color-clearblue-200: #76b1f4;
  --core-color-clearblue-300: #509bf1;
  --core-color-clearblue-400: #2f88ef;
  --core-color-clearblue-500: #1277ed;
  --core-color-clearblue-600: #0e60be;
  --core-color-clearblue-700: #0b4c98;
  --core-color-clearblue-800: #093b76;
  --core-color-clearblue-900: #062c58;
  --core-color-clearblue-950: #052143;
  --core-color-purple-25: #f4effa;
  --core-color-purple-50: #eae0f5;
  --core-color-purple-100: #d1bdea;
  --core-color-purple-200: #c1a6e3;
  --core-color-purple-300: #b08edc;
  --core-color-purple-400: #9b6fd2;
  --core-color-purple-500: #8853ca;
  --core-color-purple-600: #7245a8;
  --core-color-purple-700: #5d388a;
  --core-color-purple-800: #4c2e70;
  --core-color-purple-900: #3b2457;
  --core-color-purple-950: #2d1a42;
  --core-color-magenta-25: #fbeef8;
  --core-color-magenta-50: #f7daef;
  --core-color-magenta-100: #f0bce3;
  --core-color-magenta-200: #e897d3;
  --core-color-magenta-300: #e17ac7;
  --core-color-magenta-400: #da58b9;
  --core-color-magenta-500: #d12ea8;
  --core-color-magenta-600: #ac258b;
  --core-color-magenta-700: #8a1e70;
  --core-color-magenta-800: #6d1858;
  --core-color-magenta-900: #541244;
  --core-color-magenta-950: #3f0d33;
  --core-color-rosered-25: #fceef2;
  --core-color-rosered-50: #f6d4de;
  --core-color-rosered-100: #f5bacb;
  --core-color-rosered-200: #ed87a6;
  --core-color-rosered-300: #e56c90;
  --core-color-rosered-400: #e05880;
  --core-color-rosered-500: #d93b6a;
  --core-color-rosered-600: #bd335d;
  --core-color-rosered-700: #99294a;
  --core-color-rosered-800: #7a213c;
  --core-color-rosered-900: #57172a;
  --core-color-rosered-950: #4a1424;
  --core-color-yellow-25: #fefdf1;
  --core-color-yellow-50: #fdfbe9;
  --core-color-yellow-100: #fdf6c7;
  --core-color-yellow-200: #fbed9e;
  --core-color-yellow-300: #f8e17f;
  --core-color-yellow-400: #f1c53f;
  --core-color-yellow-500: #dfab34;
  --core-color-yellow-600: #bf8727;
  --core-color-yellow-700: #975f1b;
  --core-color-yellow-800: #7c4b19;
  --core-color-yellow-900: #693d19;
  --core-color-yellow-950: #4e2e12;
  --core-alpha-white-0: #ffffff00;
  --core-alpha-white-5: #ffffff0c;
  --core-alpha-white-10: #ffffff19;
  --core-alpha-white-20: #ffffff33;
  --core-alpha-white-30: #ffffff4c;
  --core-alpha-white-40: #ffffff66;
  --core-alpha-white-50: #ffffff7f;
  --core-alpha-white-60: #ffffff99;
  --core-alpha-white-70: #ffffffb2;
  --core-alpha-white-80: #ffffffcc;
  --core-alpha-white-90: #ffffffe5;
  --core-alpha-white-95: #fffffff2;
  --core-alpha-white-100: #ffffff;
  --core-alpha-black-0: #00000000;
  --core-alpha-black-5: #0000000c;
  --core-alpha-black-10: #00000019;
  --core-alpha-black-20: #00000033;
  --core-alpha-black-30: #0000004c;
  --core-alpha-black-40: #00000066;
  --core-alpha-black-50: #0000007f;
  --core-alpha-black-60: #00000099;
  --core-alpha-black-70: #000000b2;
  --core-alpha-black-80: #000000cc;
  --core-alpha-black-90: #000000e5;
  --core-alpha-black-95: #000000f2;
  --core-alpha-black-100: #000000;
  --core-alpha-grey950-0: #0d0e1200;
  --core-alpha-grey950-5: #0d0e120c;
  --core-alpha-grey950-10: #0d0e1219;
  --core-alpha-grey950-20: #0d0e1233;
  --core-alpha-grey950-30: #0d0e124c;
  --core-alpha-grey950-40: #0d0e1266;
  --core-alpha-grey950-50: #0d0e127f;
  --core-alpha-grey950-60: #0d0e1299;
  --core-alpha-grey950-70: #0d0e12b2;
  --core-alpha-grey950-80: #0d0e12cc;
  --core-alpha-grey950-90: #0d0e12e5;
  --core-alpha-grey950-95: #0d0e12f2;
  --core-alpha-grey950-100: #0d0e12;
  --core-alpha-brand-0: #79968900;
  --core-alpha-brand-5: #7996890c;
  --core-alpha-brand-10: #79968919;
  --core-alpha-brand-20: #79968933;
  --core-alpha-brand-30: #7996894c;
  --core-alpha-brand-40: #79968966;
  --core-alpha-brand-50: #7996897f;
  --core-alpha-brand-60: #79968999;
  --core-alpha-brand-70: #799689b2;
  --core-alpha-brand-80: #799689cc;
  --core-alpha-brand-90: #799689e5;
  --core-alpha-brand-95: #799689f2;
  --core-alpha-brand-100: #799689;
  --core-alpha-leaf-0: #73b02700;
  --core-alpha-leaf-5: #73b0270c;
  --core-alpha-leaf-10: #73b02719;
  --core-alpha-leaf-20: #73b02733;
  --core-alpha-leaf-30: #73b0274c;
  --core-alpha-leaf-40: #73b02766;
  --core-alpha-leaf-50: #73b0277f;
  --core-alpha-leaf-60: #73b02799;
  --core-alpha-leaf-70: #73b027b2;
  --core-alpha-leaf-80: #73b027cc;
  --core-alpha-leaf-90: #73b027e5;
  --core-alpha-leaf-95: #73b027f2;
  --core-alpha-leaf-100: #73b027;
  --core-alpha-forest-0: #4db29400;
  --core-alpha-forest-5: #4db2940c;
  --core-alpha-forest-10: #4db29419;
  --core-alpha-forest-20: #4db29433;
  --core-alpha-forest-30: #4db2944c;
  --core-alpha-forest-40: #4db29466;
  --core-alpha-forest-50: #4db2947f;
  --core-alpha-forest-60: #4db29499;
  --core-alpha-forest-70: #4db294b2;
  --core-alpha-forest-80: #4db294cc;
  --core-alpha-forest-90: #4db294e5;
  --core-alpha-forest-95: #4db294f2;
  --core-alpha-forest-100: #4db294;
  --core-alpha-waterblue-0: #52a7c200;
  --core-alpha-waterblue-5: #52a7c20c;
  --core-alpha-waterblue-10: #52a7c219;
  --core-alpha-waterblue-20: #52a7c233;
  --core-alpha-waterblue-30: #52a7c24c;
  --core-alpha-waterblue-40: #52a7c266;
  --core-alpha-waterblue-50: #52a7c27f;
  --core-alpha-waterblue-60: #52a7c299;
  --core-alpha-waterblue-70: #52a7c2b2;
  --core-alpha-waterblue-80: #52a7c2cc;
  --core-alpha-waterblue-90: #52a7c2e5;
  --core-alpha-waterblue-95: #52a7c2f2;
  --core-alpha-waterblue-100: #52a7c2;
  --core-alpha-clearblue-0: #1277ed00;
  --core-alpha-clearblue-5: #1277ed0c;
  --core-alpha-clearblue-10: #1277ed19;
  --core-alpha-clearblue-20: #1277ed33;
  --core-alpha-clearblue-30: #1277ed4c;
  --core-alpha-clearblue-40: #1277ed66;
  --core-alpha-clearblue-50: #1277ed7f;
  --core-alpha-clearblue-60: #1277ed99;
  --core-alpha-clearblue-70: #1277edb2;
  --core-alpha-clearblue-80: #1277edcc;
  --core-alpha-clearblue-90: #1277ede5;
  --core-alpha-clearblue-95: #1277edf2;
  --core-alpha-clearblue-100: #1277ed;
  --core-alpha-purple-0: #8853ca00;
  --core-alpha-purple-5: #8853ca0c;
  --core-alpha-purple-10: #8853ca19;
  --core-alpha-purple-20: #8853ca33;
  --core-alpha-purple-30: #8853ca4c;
  --core-alpha-purple-40: #8853ca66;
  --core-alpha-purple-50: #8853ca7f;
  --core-alpha-purple-60: #8853ca99;
  --core-alpha-purple-70: #8853cab2;
  --core-alpha-purple-80: #8853cacc;
  --core-alpha-purple-90: #8853cae5;
  --core-alpha-purple-95: #8853caf2;
  --core-alpha-purple-100: #8853ca;
  --core-alpha-magenta-0: #d12ea800;
  --core-alpha-magenta-5: #d12ea80c;
  --core-alpha-magenta-10: #d12ea819;
  --core-alpha-magenta-20: #d12ea833;
  --core-alpha-magenta-30: #d12ea84c;
  --core-alpha-magenta-40: #d12ea866;
  --core-alpha-magenta-50: #d12ea87f;
  --core-alpha-magenta-60: #d12ea899;
  --core-alpha-magenta-70: #d12ea8b2;
  --core-alpha-magenta-80: #d12ea8cc;
  --core-alpha-magenta-90: #d12ea8e5;
  --core-alpha-magenta-95: #d12ea8f2;
  --core-alpha-magenta-100: #d12ea8;
  --core-alpha-rosered-0: #d93b6a00;
  --core-alpha-rosered-5: #d93b6a0c;
  --core-alpha-rosered-10: #d93b6a19;
  --core-alpha-rosered-20: #d93b6a33;
  --core-alpha-rosered-30: #d93b6a4c;
  --core-alpha-rosered-40: #d93b6a66;
  --core-alpha-rosered-50: #d93b6a7f;
  --core-alpha-rosered-60: #d93b6a99;
  --core-alpha-rosered-70: #d93b6ab2;
  --core-alpha-rosered-80: #d93b6acc;
  --core-alpha-rosered-90: #d93b6ae5;
  --core-alpha-rosered-95: #d93b6af2;
  --core-alpha-rosered-100: #d93b6a;
  --core-alpha-yellow-0: #dfab3400;
  --core-alpha-yellow-5: #dfab340c;
  --core-alpha-yellow-10: #dfab3419;
  --core-alpha-yellow-20: #dfab3433;
  --core-alpha-yellow-30: #dfab344c;
  --core-alpha-yellow-40: #dfab3466;
  --core-alpha-yellow-50: #dfab347f;
  --core-alpha-yellow-60: #dfab3499;
  --core-alpha-yellow-70: #dfab34b2;
  --core-alpha-yellow-80: #dfab34cc;
  --core-alpha-yellow-90: #dfab34e5;
  --core-alpha-yellow-95: #dfab34f2;
  --core-alpha-yellow-100: #dfab34;
}
.dark {
  --base-text-primary: var(--core-color-grey-50);
  --base-text-primary_hover: var(--core-color-grey-100);
  --base-text-primary_pressed: var(--core-color-grey-200);
  --base-text-primary-reverse: var(--core-color-grey-900);
  --base-text-primary-reverse_hover: var(--core-color-grey-800);
  --base-text-primary-reverse_pressed: var(--core-color-grey-700);
  --base-text-secondary: var(--core-color-grey-300);
  --base-text-secondary_hover: var(--core-color-grey-200);
  --base-text-secondary_pressed: var(--core-color-grey-100);
  --base-text-tertiary: var(--core-color-grey-400);
  --base-text-tertiary_hover: var(--core-color-grey-300);
  --base-text-quaternary: var(--core-color-grey-500);
  --base-text-quaternary_hover: var(--core-color-grey-400);
  --base-text-quinary: var(--core-color-grey-600);
  --base-text-brand: var(--core-color-brand-300);
  --base-text-brand_hover: var(--core-color-brand-200);
  --base-text-brand_pressed: var(--core-color-brand-100);
  --base-text-error: var(--core-color-error-400);
  --base-text-error_hover: var(--core-color-error-300);
  --base-text-error_pressed: var(--core-color-error-200);
  --base-text-white: var(--white);
  --base-text-disabled: var(--core-color-grey-600);
  --base-text-placeholder: var(--core-color-grey-500);
  --base-text-placeholder-subtle: var(--core-color-grey-700);
  --base-fg-primary: var(--core-color-grey-50);
  --base-fg-primary_hover: var(--core-color-grey-100);
  --base-fg-primary_pressed: var(--core-color-grey-200);
  --base-fg-primary-reverse: var(--core-color-grey-900);
  --base-fg-primary-reverse_hover: var(--core-color-grey-800);
  --base-fg-primary-reverse_pressed: var(--core-color-grey-700);
  --base-fg-secondary: var(--core-color-grey-300);
  --base-fg-secondary_hover: var(--core-color-grey-200);
  --base-fg-secondary_pressed: var(--core-color-grey-100);
  --base-fg-tertiary: var(--core-color-grey-400);
  --base-fg-tertiary_hover: var(--core-color-grey-300);
  --base-fg-quaternary: var(--core-color-grey-500);
  --base-fg-quaternary_hover: var(--core-color-grey-400);
  --base-fg-quinary: var(--core-color-grey-600);
  --base-fg-brand: var(--core-color-brand-500);
  --base-fg-brand_hover: var(--core-color-brand-400);
  --base-fg-brand_pressed: var(--core-color-brand-300);
  --base-fg-brand-reverse: var(--core-color-brand-900);
  --base-fg-brand-reverse_hover: var(--core-color-brand-800);
  --base-fg-brand-reverse_pressed: var(--core-color-brand-700);
  --base-fg-error: var(--core-color-error-400);
  --base-fg-error_hover: var(--core-color-error-300);
  --base-fg-error_pressed: var(--core-color-error-200);
  --base-fg-white: var(--white);
  --base-fg-disabled: var(--core-color-grey-500);
  --base-fg-disabled_subtle: var(--core-color-grey-600);
  --base-fg-placeholder: var(--core-color-grey-500);
  --base-border-primary: var(--core-color-grey-700);
  --base-border-secondary: var(--core-color-grey-800);
  --base-border-tertiary: var(--core-color-grey-800);
  --base-border-quaternary: var(--core-color-grey-900);
  --base-border-disabled: var(--core-color-grey-700);
  --base-border-disabled_subtle: var(--core-color-grey-800);
  --base-border-brand: var(--core-color-brand-400);
  --base-border-brand-solid: var(--core-color-brand-500);
  --base-border-error: var(--core-color-error-400);
  --base-border-error-solid: var(--core-color-error-500);
  --base-bg-primary: var(--core-color-grey-950);
  --base-bg-primary_alt: var(--core-color-grey-900);
  --base-bg-primary-reverse: var(--core-color-grey-25);
  --base-bg-primary-reverse_hover: var(--core-color-grey-100);
  --base-bg-primary-reverse_pressed: var(--core-color-grey-200);
  --base-bg-secondary: var(--core-color-grey-900);
  --base-bg-secondary_alt: var(--core-color-grey-950);
  --base-bg-secondary_hover: var(--core-color-grey-800);
  --base-bg-secondary_pressed: var(--core-color-grey-700);
  --base-bg-tertiary: var(--core-color-grey-800);
  --base-bg-tertiary_hover: var(--core-color-grey-700);
  --base-bg-tertiary_pressed: var(--core-color-grey-600);
  --base-bg-tertiary_alt: var(--core-color-grey-950);
  --base-bg-quaternary: var(--core-color-grey-700);
  --base-bg-neutral: var(--core-color-grey-900);
  --base-bg-neutral_hover: var(--core-color-grey-800);
  --base-bg-neutral_pressed: var(--core-color-grey-700);
  --base-bg-brand: var(--core-color-brand-950);
  --base-bg-brand_hover: var(--core-color-brand-900);
  --base-bg-brand_pressed: var(--core-color-brand-800);
  --base-bg-brand-reverse: var(--core-color-brand-300);
  --base-bg-brand-reverse_hover: var(--core-color-brand-200);
  --base-bg-brand-reverse_pressed: var(--core-color-brand-100);
  --base-bg-error: var(--core-color-error-900);
  --base-bg-error_hover: var(--core-color-error-800);
  --base-bg-error_pressed: var(--core-color-error-700);
  --base-bg-error-reverse: var(--core-color-error-400);
  --base-bg-error-reverse_hover: var(--core-color-error-300);
  --base-bg-error-reverse_pressed: var(--core-color-error-200);
  --base-bg-white: var(--white);
  --base-bg-active: var(--core-color-grey-800);
  --base-bg-disabled: var(--core-color-grey-800);
  --base-bg-disabled_subtle: var(--core-color-grey-900);
  --base-bg-overlay: var(--core-alpha-black-60);
  --util-color-brand-25: var(--core-color-brand-950);
  --util-color-brand-50: var(--core-color-brand-900);
  --util-color-brand-100: var(--core-color-brand-800);
  --util-color-brand-200: var(--core-color-brand-700);
  --util-color-brand-300: var(--core-color-brand-600);
  --util-color-brand-400: var(--core-color-brand-500);
  --util-color-brand-500: var(--core-color-brand-400);
  --util-color-brand-600: var(--core-color-brand-300);
  --util-color-brand-700: var(--core-color-brand-200);
  --util-color-brand-800: var(--core-color-brand-100);
  --util-color-brand-900: var(--core-color-brand-50);
  --util-color-brand-950: var(--core-color-brand-25);
  --util-color-brand-alt-25: var(--core-color-grey-950);
  --util-color-brand-alt-50: var(--core-color-grey-900);
  --util-color-brand-alt-100: var(--core-color-grey-800);
  --util-color-brand-alt-200: var(--core-color-grey-700);
  --util-color-brand-alt-300: var(--core-color-grey-600);
  --util-color-brand-alt-400: var(--core-color-grey-500);
  --util-color-brand-alt-500: var(--core-color-grey-400);
  --util-color-brand-alt-600: var(--core-color-grey-300);
  --util-color-brand-alt-700: var(--core-color-grey-200);
  --util-color-brand-alt-800: var(--core-color-grey-100);
  --util-color-brand-alt-900: var(--core-color-grey-50);
  --util-color-brand-alt-950: var(--core-color-grey-25);
  --util-color-leaf-25: var(--core-color-leaf-950);
  --util-color-leaf-50: var(--core-color-leaf-900);
  --util-color-leaf-100: var(--core-color-leaf-800);
  --util-color-leaf-200: var(--core-color-leaf-700);
  --util-color-leaf-300: var(--core-color-leaf-600);
  --util-color-leaf-400: var(--core-color-leaf-500);
  --util-color-leaf-500: var(--core-color-leaf-400);
  --util-color-leaf-600: var(--core-color-leaf-300);
  --util-color-leaf-700: var(--core-color-leaf-200);
  --util-color-leaf-800: var(--core-color-leaf-100);
  --util-color-leaf-900: var(--core-color-leaf-50);
  --util-color-leaf-950: var(--core-color-leaf-25);
  --util-color-forest-25: var(--core-color-forest-950);
  --util-color-forest-50: var(--core-color-forest-900);
  --util-color-forest-100: var(--core-color-forest-800);
  --util-color-forest-200: var(--core-color-forest-700);
  --util-color-forest-300: var(--core-color-forest-600);
  --util-color-forest-400: var(--core-color-forest-500);
  --util-color-forest-500: var(--core-color-forest-400);
  --util-color-forest-600: var(--core-color-forest-300);
  --util-color-forest-700: var(--core-color-forest-200);
  --util-color-forest-800: var(--core-color-forest-100);
  --util-color-forest-900: var(--core-color-forest-50);
  --util-color-forest-950: var(--core-color-forest-25);
  --util-color-waterblue-25: var(--core-color-waterblue-950);
  --util-color-waterblue-50: var(--core-color-waterblue-900);
  --util-color-waterblue-100: var(--core-color-waterblue-800);
  --util-color-waterblue-200: var(--core-color-waterblue-700);
  --util-color-waterblue-300: var(--core-color-waterblue-600);
  --util-color-waterblue-400: var(--core-color-waterblue-500);
  --util-color-waterblue-500: var(--core-color-waterblue-400);
  --util-color-waterblue-600: var(--core-color-waterblue-300);
  --util-color-waterblue-700: var(--core-color-waterblue-200);
  --util-color-waterblue-800: var(--core-color-waterblue-100);
  --util-color-waterblue-900: var(--core-color-waterblue-50);
  --util-color-waterblue-950: var(--core-color-waterblue-25);
  --util-color-clearblue-25: var(--core-color-clearblue-950);
  --util-color-clearblue-50: var(--core-color-clearblue-900);
  --util-color-clearblue-100: var(--core-color-clearblue-800);
  --util-color-clearblue-200: var(--core-color-clearblue-700);
  --util-color-clearblue-300: var(--core-color-clearblue-600);
  --util-color-clearblue-400: var(--core-color-clearblue-500);
  --util-color-clearblue-500: var(--core-color-clearblue-400);
  --util-color-clearblue-600: var(--core-color-clearblue-300);
  --util-color-clearblue-700: var(--core-color-clearblue-200);
  --util-color-clearblue-800: var(--core-color-clearblue-100);
  --util-color-clearblue-900: var(--core-color-clearblue-50);
  --util-color-clearblue-950: var(--core-color-clearblue-50);
  --util-color-purple-25: var(--core-color-purple-950);
  --util-color-purple-50: var(--core-color-purple-900);
  --util-color-purple-100: var(--core-color-purple-800);
  --util-color-purple-200: var(--core-color-purple-700);
  --util-color-purple-300: var(--core-color-purple-600);
  --util-color-purple-400: var(--core-color-purple-500);
  --util-color-purple-500: var(--core-color-purple-400);
  --util-color-purple-600: var(--core-color-purple-300);
  --util-color-purple-700: var(--core-color-purple-200);
  --util-color-purple-800: var(--core-color-purple-100);
  --util-color-purple-900: var(--core-color-purple-50);
  --util-color-purple-950: var(--core-color-purple-25);
  --util-color-magenta-25: var(--core-color-magenta-950);
  --util-color-magenta-50: var(--core-color-magenta-900);
  --util-color-magenta-100: var(--core-color-magenta-800);
  --util-color-magenta-200: var(--core-color-magenta-700);
  --util-color-magenta-300: var(--core-color-magenta-600);
  --util-color-magenta-400: var(--core-color-magenta-500);
  --util-color-magenta-500: var(--core-color-magenta-400);
  --util-color-magenta-600: var(--core-color-magenta-300);
  --util-color-magenta-700: var(--core-color-magenta-200);
  --util-color-magenta-800: var(--core-color-magenta-100);
  --util-color-magenta-900: var(--core-color-magenta-50);
  --util-color-magenta-950: var(--core-color-magenta-25);
  --util-color-rosered-25: var(--core-color-rosered-950);
  --util-color-rosered-50: var(--core-color-rosered-900);
  --util-color-rosered-100: var(--core-color-rosered-800);
  --util-color-rosered-200: var(--core-color-rosered-700);
  --util-color-rosered-300: var(--core-color-rosered-600);
  --util-color-rosered-400: var(--core-color-rosered-500);
  --util-color-rosered-500: var(--core-color-rosered-400);
  --util-color-rosered-600: var(--core-color-rosered-300);
  --util-color-rosered-700: var(--core-color-rosered-200);
  --util-color-rosered-800: var(--core-color-rosered-100);
  --util-color-rosered-900: var(--core-color-rosered-50);
  --util-color-rosered-950: var(--core-color-rosered-25);
  --util-color-yellow-25: var(--core-color-yellow-950);
  --util-color-yellow-50: var(--core-color-yellow-900);
  --util-color-yellow-100: var(--core-color-yellow-800);
  --util-color-yellow-200: var(--core-color-yellow-700);
  --util-color-yellow-300: var(--core-color-yellow-600);
  --util-color-yellow-400: var(--core-color-yellow-500);
  --util-color-yellow-500: var(--core-color-yellow-400);
  --util-color-yellow-600: var(--core-color-yellow-300);
  --util-color-yellow-700: var(--core-color-yellow-200);
  --util-color-yellow-800: var(--core-color-yellow-100);
  --util-color-yellow-900: var(--core-color-yellow-50);
  --util-color-yellow-950: var(--core-color-yellow-25);
  --util-color-grey-25: var(--core-color-grey-950);
  --util-color-grey-50: var(--core-color-grey-900);
  --util-color-grey-100: var(--core-color-grey-800);
  --util-color-grey-200: var(--core-color-grey-700);
  --util-color-grey-300: var(--core-color-grey-600);
  --util-color-grey-400: var(--core-color-grey-500);
  --util-color-grey-500: var(--core-color-grey-400);
  --util-color-grey-600: var(--core-color-grey-300);
  --util-color-grey-700: var(--core-color-grey-200);
  --util-color-grey-800: var(--core-color-grey-100);
  --util-color-grey-900: var(--core-color-grey-50);
  --util-color-grey-950: var(--core-color-grey-25);
  --util-color-error-25: var(--core-color-error-950);
  --util-color-error-50: var(--core-color-error-900);
  --util-color-error-100: var(--core-color-error-800);
  --util-color-error-200: var(--core-color-error-700);
  --util-color-error-300: var(--core-color-error-600);
  --util-color-error-400: var(--core-color-error-500);
  --util-color-error-500: var(--core-color-error-400);
  --util-color-error-600: var(--core-color-error-300);
  --util-color-error-700: var(--core-color-error-200);
  --util-color-error-800: var(--core-color-error-100);
  --util-color-error-900: var(--core-color-error-50);
  --util-color-error-950: var(--core-color-error-25);
  --util-color-warning-25: var(--core-color-warning-950);
  --util-color-warning-50: var(--core-color-warning-900);
  --util-color-warning-100: var(--core-color-warning-800);
  --util-color-warning-200: var(--core-color-warning-700);
  --util-color-warning-300: var(--core-color-warning-600);
  --util-color-warning-400: var(--core-color-warning-500);
  --util-color-warning-500: var(--core-color-warning-400);
  --util-color-warning-600: var(--core-color-warning-300);
  --util-color-warning-700: var(--core-color-warning-200);
  --util-color-warning-800: var(--core-color-warning-100);
  --util-color-warning-900: var(--core-color-warning-50);
  --util-color-warning-950: var(--core-color-warning-25);
  --util-color-success-25: var(--core-color-success-950);
  --util-color-success-50: var(--core-color-success-900);
  --util-color-success-100: var(--core-color-success-800);
  --util-color-success-200: var(--core-color-success-700);
  --util-color-success-300: var(--core-color-success-600);
  --util-color-success-400: var(--core-color-success-500);
  --util-color-success-500: var(--core-color-success-400);
  --util-color-success-600: var(--core-color-success-300);
  --util-color-success-700: var(--core-color-success-200);
  --util-color-success-800: var(--core-color-success-100);
  --util-color-success-900: var(--core-color-success-50);
  --util-color-success-950: var(--core-color-success-25);
  --util-alpha-white-0: var(--core-alpha-grey950-0);
  --util-alpha-white-5: var(--core-alpha-grey950-5);
  --util-alpha-white-10: var(--core-alpha-grey950-10);
  --util-alpha-white-20: var(--core-alpha-grey950-20);
  --util-alpha-white-30: var(--core-alpha-grey950-30);
  --util-alpha-white-40: var(--core-alpha-grey950-40);
  --util-alpha-white-50: var(--core-alpha-grey950-50);
  --util-alpha-white-60: var(--core-alpha-grey950-60);
  --util-alpha-white-70: var(--core-alpha-grey950-70);
  --util-alpha-white-80: var(--core-alpha-grey950-80);
  --util-alpha-white-90: var(--core-alpha-grey950-90);
  --util-alpha-white-100: var(--core-color-grey-950);
  --util-alpha-black-0: var(--core-alpha-white-0);
  --util-alpha-black-5: var(--core-alpha-white-5);
  --util-alpha-black-10: var(--core-alpha-white-10);
  --util-alpha-black-20: var(--core-alpha-white-20);
  --util-alpha-black-30: var(--core-alpha-white-30);
  --util-alpha-black-40: var(--core-alpha-white-40);
  --util-alpha-black-50: var(--core-alpha-white-50);
  --util-alpha-black-60: var(--core-alpha-white-60);
  --util-alpha-black-70: var(--core-alpha-white-70);
  --util-alpha-black-80: var(--core-alpha-white-80);
  --util-alpha-black-90: var(--core-alpha-white-90);
  --util-alpha-black-100: var(--core-alpha-white-100);
  --comp-button-close-fg-default: var(--core-alpha-white-50);
  --comp-button-close-bg-hover: var(--core-alpha-white-5);
  --comp-button-close-bg-pressed: var(--core-alpha-white-10);
  --white: #ffffff;
  --black: #000000;
  --core-color-brand-25: #fafbfa;
  --core-color-brand-50: #f2f5f3;
  --core-color-brand-100: #e5ebe8;
  --core-color-brand-200: #d4ddd9;
  --core-color-brand-300: #b2c3bb;
  --core-color-brand-400: #92aa9f;
  --core-color-brand-500: #799689;
  --core-color-brand-600: #647c72;
  --core-color-brand-700: #4f635a;
  --core-color-brand-800: #41534b;
  --core-color-brand-900: #35453e;
  --core-color-brand-950: #232f2a;
  --core-color-secondary-25: #f9fcfc;
  --core-color-secondary-50: #f0f6f6;
  --core-color-secondary-100: #e3eded;
  --core-color-secondary-200: #cbdcdc;
  --core-color-secondary-300: #aac5c5;
  --core-color-secondary-400: #719e9e;
  --core-color-secondary-500: #4f8786;
  --core-color-secondary-600: #447373;
  --core-color-secondary-700: #3b6463;
  --core-color-secondary-800: #315252;
  --core-color-secondary-900: #274140;
  --core-color-secondary-950: #1d2f2f;
  --core-color-highlight-25: #fefcfb;
  --core-color-highlight-50: #fef9f6;
  --core-color-highlight-100: #fdf3ee;
  --core-color-highlight-200: #fbe8df;
  --core-color-highlight-300: #f6ccba;
  --core-color-highlight-400: #eb885c;
  --core-color-highlight-500: #e5662f;
  --core-color-highlight-600: #c65827;
  --core-color-highlight-700: #a74a1f;
  --core-color-highlight-800: #883b18;
  --core-color-highlight-900: #692d10;
  --core-color-highlight-950: #4a1f08;
  --core-color-grey-25: #fafafa;
  --core-color-grey-50: #f2f2f2;
  --core-color-grey-100: #e8e8e8;
  --core-color-grey-200: #dbdcdc;
  --core-color-grey-300: #c1c3c2;
  --core-color-grey-400: #909393;
  --core-color-grey-500: #646867;
  --core-color-grey-600: #535756;
  --core-color-grey-700: #3e4140;
  --core-color-grey-800: #2d2f2e;
  --core-color-grey-900: #202221;
  --core-color-grey-950: #111312;
  --core-color-error-25: #fefafa;
  --core-color-error-50: #fdf4f4;
  --core-color-error-100: #fae0de;
  --core-color-error-200: #f8ccc9;
  --core-color-error-300: #f2a29e;
  --core-color-error-400: #eb726b;
  --core-color-error-500: #e5453d;
  --core-color-error-600: #ca3d35;
  --core-color-error-700: #ae352d;
  --core-color-error-800: #8d2a25;
  --core-color-error-900: #76231e;
  --core-color-error-950: #511915;
  --core-color-warning-25: #fefdfb;
  --core-color-warning-50: #fdf9f2;
  --core-color-warning-100: #f7e6ca;
  --core-color-warning-200: #efce95;
  --core-color-warning-300: #e8ba6d;
  --core-color-warning-400: #e1aa4c;
  --core-color-warning-500: #dd9720;
  --core-color-warning-600: #b77c1a;
  --core-color-warning-700: #8f6114;
  --core-color-warning-800: #704c10;
  --core-color-warning-900: #5a3e0c;
  --core-color-warning-950: #3f2c09;
  --core-color-success-25: #effbf7;
  --core-color-success-50: #e5f5ee;
  --core-color-success-100: #d2eee2;
  --core-color-success-200: #aadfc8;
  --core-color-success-300: #7dceac;
  --core-color-success-400: #58c094;
  --core-color-success-500: #3baa7a;
  --core-color-success-600: #308c64;
  --core-color-success-700: #287152;
  --core-color-success-800: #215f44;
  --core-color-success-900: #1a4c37;
  --core-color-success-950: #123628;
  --core-color-leaf-25: #f5f9f0;
  --core-color-leaf-50: #dfedcf;
  --core-color-leaf-100: #cae1ad;
  --core-color-leaf-200: #b4d58c;
  --core-color-leaf-300: #9ec86a;
  --core-color-leaf-400: #89bc48;
  --core-color-leaf-500: #73b027;
  --core-color-leaf-600: #5a8a1e;
  --core-color-leaf-700: #497119;
  --core-color-leaf-800: #3c5c14;
  --core-color-leaf-900: #2f480f;
  --core-color-leaf-950: #1c2c09;
  --core-color-forest-25: #f1f9f6;
  --core-color-forest-50: #dcefea;
  --core-color-forest-100: #c3e5da;
  --core-color-forest-200: #9cd4c4;
  --core-color-forest-300: #82c9b4;
  --core-color-forest-400: #6abea5;
  --core-color-forest-500: #4db294;
  --core-color-forest-600: #3c8b74;
  --core-color-forest-700: #2e6b59;
  --core-color-forest-800: #255647;
  --core-color-forest-900: #1a3d33;
  --core-color-forest-950: #132c25;
  --core-color-waterblue-25: #f0f7fa;
  --core-color-waterblue-50: #daecf1;
  --core-color-waterblue-100: #c3e1ea;
  --core-color-waterblue-200: #b0d7e3;
  --core-color-waterblue-300: #92c8d8;
  --core-color-waterblue-400: #74b8ce;
  --core-color-waterblue-500: #52a7c2;
  --core-color-waterblue-600: #42889e;
  --core-color-waterblue-700: #366f81;
  --core-color-waterblue-800: #2a5664;
  --core-color-waterblue-900: #1f414c;
  --core-color-waterblue-950: #142930;
  --core-color-clearblue-25: #ecf4fe;
  --core-color-clearblue-50: #d0e4fb;
  --core-color-clearblue-100: #a0c9f8;
  --core-color-clearblue-200: #76b1f4;
  --core-color-clearblue-300: #509bf1;
  --core-color-clearblue-400: #2f88ef;
  --core-color-clearblue-500: #1277ed;
  --core-color-clearblue-600: #0e60be;
  --core-color-clearblue-700: #0b4c98;
  --core-color-clearblue-800: #093b76;
  --core-color-clearblue-900: #062c58;
  --core-color-clearblue-950: #052143;
  --core-color-purple-25: #f4effa;
  --core-color-purple-50: #eae0f5;
  --core-color-purple-100: #d1bdea;
  --core-color-purple-200: #c1a6e3;
  --core-color-purple-300: #b08edc;
  --core-color-purple-400: #9b6fd2;
  --core-color-purple-500: #8853ca;
  --core-color-purple-600: #7245a8;
  --core-color-purple-700: #5d388a;
  --core-color-purple-800: #4c2e70;
  --core-color-purple-900: #3b2457;
  --core-color-purple-950: #2d1a42;
  --core-color-magenta-25: #fbeef8;
  --core-color-magenta-50: #f7daef;
  --core-color-magenta-100: #f0bce3;
  --core-color-magenta-200: #e897d3;
  --core-color-magenta-300: #e17ac7;
  --core-color-magenta-400: #da58b9;
  --core-color-magenta-500: #d12ea8;
  --core-color-magenta-600: #ac258b;
  --core-color-magenta-700: #8a1e70;
  --core-color-magenta-800: #6d1858;
  --core-color-magenta-900: #541244;
  --core-color-magenta-950: #3f0d33;
  --core-color-rosered-25: #fceef2;
  --core-color-rosered-50: #f6d4de;
  --core-color-rosered-100: #f5bacb;
  --core-color-rosered-200: #ed87a6;
  --core-color-rosered-300: #e56c90;
  --core-color-rosered-400: #e05880;
  --core-color-rosered-500: #d93b6a;
  --core-color-rosered-600: #bd335d;
  --core-color-rosered-700: #99294a;
  --core-color-rosered-800: #7a213c;
  --core-color-rosered-900: #57172a;
  --core-color-rosered-950: #4a1424;
  --core-color-yellow-25: #fefdf1;
  --core-color-yellow-50: #fdfbe9;
  --core-color-yellow-100: #fdf6c7;
  --core-color-yellow-200: #fbed9e;
  --core-color-yellow-300: #f8e17f;
  --core-color-yellow-400: #f1c53f;
  --core-color-yellow-500: #dfab34;
  --core-color-yellow-600: #bf8727;
  --core-color-yellow-700: #975f1b;
  --core-color-yellow-800: #7c4b19;
  --core-color-yellow-900: #693d19;
  --core-color-yellow-950: #4e2e12;
  --core-alpha-white-0: #ffffff00;
  --core-alpha-white-5: #ffffff0c;
  --core-alpha-white-10: #ffffff19;
  --core-alpha-white-20: #ffffff33;
  --core-alpha-white-30: #ffffff4c;
  --core-alpha-white-40: #ffffff66;
  --core-alpha-white-50: #ffffff7f;
  --core-alpha-white-60: #ffffff99;
  --core-alpha-white-70: #ffffffb2;
  --core-alpha-white-80: #ffffffcc;
  --core-alpha-white-90: #ffffffe5;
  --core-alpha-white-95: #fffffff2;
  --core-alpha-white-100: #ffffff;
  --core-alpha-black-0: #00000000;
  --core-alpha-black-5: #0000000c;
  --core-alpha-black-10: #00000019;
  --core-alpha-black-20: #00000033;
  --core-alpha-black-30: #0000004c;
  --core-alpha-black-40: #00000066;
  --core-alpha-black-50: #0000007f;
  --core-alpha-black-60: #00000099;
  --core-alpha-black-70: #000000b2;
  --core-alpha-black-80: #000000cc;
  --core-alpha-black-90: #000000e5;
  --core-alpha-black-95: #000000f2;
  --core-alpha-black-100: #000000;
  --core-alpha-grey950-0: #0d0e1200;
  --core-alpha-grey950-5: #0d0e120c;
  --core-alpha-grey950-10: #0d0e1219;
  --core-alpha-grey950-20: #0d0e1233;
  --core-alpha-grey950-30: #0d0e124c;
  --core-alpha-grey950-40: #0d0e1266;
  --core-alpha-grey950-50: #0d0e127f;
  --core-alpha-grey950-60: #0d0e1299;
  --core-alpha-grey950-70: #0d0e12b2;
  --core-alpha-grey950-80: #0d0e12cc;
  --core-alpha-grey950-90: #0d0e12e5;
  --core-alpha-grey950-95: #0d0e12f2;
  --core-alpha-grey950-100: #0d0e12;
  --core-alpha-brand-0: #79968900;
  --core-alpha-brand-5: #7996890c;
  --core-alpha-brand-10: #79968919;
  --core-alpha-brand-20: #79968933;
  --core-alpha-brand-30: #7996894c;
  --core-alpha-brand-40: #79968966;
  --core-alpha-brand-50: #7996897f;
  --core-alpha-brand-60: #79968999;
  --core-alpha-brand-70: #799689b2;
  --core-alpha-brand-80: #799689cc;
  --core-alpha-brand-90: #799689e5;
  --core-alpha-brand-95: #799689f2;
  --core-alpha-brand-100: #799689;
  --core-alpha-leaf-0: #73b02700;
  --core-alpha-leaf-5: #73b0270c;
  --core-alpha-leaf-10: #73b02719;
  --core-alpha-leaf-20: #73b02733;
  --core-alpha-leaf-30: #73b0274c;
  --core-alpha-leaf-40: #73b02766;
  --core-alpha-leaf-50: #73b0277f;
  --core-alpha-leaf-60: #73b02799;
  --core-alpha-leaf-70: #73b027b2;
  --core-alpha-leaf-80: #73b027cc;
  --core-alpha-leaf-90: #73b027e5;
  --core-alpha-leaf-95: #73b027f2;
  --core-alpha-leaf-100: #73b027;
  --core-alpha-forest-0: #4db29400;
  --core-alpha-forest-5: #4db2940c;
  --core-alpha-forest-10: #4db29419;
  --core-alpha-forest-20: #4db29433;
  --core-alpha-forest-30: #4db2944c;
  --core-alpha-forest-40: #4db29466;
  --core-alpha-forest-50: #4db2947f;
  --core-alpha-forest-60: #4db29499;
  --core-alpha-forest-70: #4db294b2;
  --core-alpha-forest-80: #4db294cc;
  --core-alpha-forest-90: #4db294e5;
  --core-alpha-forest-95: #4db294f2;
  --core-alpha-forest-100: #4db294;
  --core-alpha-waterblue-0: #52a7c200;
  --core-alpha-waterblue-5: #52a7c20c;
  --core-alpha-waterblue-10: #52a7c219;
  --core-alpha-waterblue-20: #52a7c233;
  --core-alpha-waterblue-30: #52a7c24c;
  --core-alpha-waterblue-40: #52a7c266;
  --core-alpha-waterblue-50: #52a7c27f;
  --core-alpha-waterblue-60: #52a7c299;
  --core-alpha-waterblue-70: #52a7c2b2;
  --core-alpha-waterblue-80: #52a7c2cc;
  --core-alpha-waterblue-90: #52a7c2e5;
  --core-alpha-waterblue-95: #52a7c2f2;
  --core-alpha-waterblue-100: #52a7c2;
  --core-alpha-clearblue-0: #1277ed00;
  --core-alpha-clearblue-5: #1277ed0c;
  --core-alpha-clearblue-10: #1277ed19;
  --core-alpha-clearblue-20: #1277ed33;
  --core-alpha-clearblue-30: #1277ed4c;
  --core-alpha-clearblue-40: #1277ed66;
  --core-alpha-clearblue-50: #1277ed7f;
  --core-alpha-clearblue-60: #1277ed99;
  --core-alpha-clearblue-70: #1277edb2;
  --core-alpha-clearblue-80: #1277edcc;
  --core-alpha-clearblue-90: #1277ede5;
  --core-alpha-clearblue-95: #1277edf2;
  --core-alpha-clearblue-100: #1277ed;
  --core-alpha-purple-0: #8853ca00;
  --core-alpha-purple-5: #8853ca0c;
  --core-alpha-purple-10: #8853ca19;
  --core-alpha-purple-20: #8853ca33;
  --core-alpha-purple-30: #8853ca4c;
  --core-alpha-purple-40: #8853ca66;
  --core-alpha-purple-50: #8853ca7f;
  --core-alpha-purple-60: #8853ca99;
  --core-alpha-purple-70: #8853cab2;
  --core-alpha-purple-80: #8853cacc;
  --core-alpha-purple-90: #8853cae5;
  --core-alpha-purple-95: #8853caf2;
  --core-alpha-purple-100: #8853ca;
  --core-alpha-magenta-0: #d12ea800;
  --core-alpha-magenta-5: #d12ea80c;
  --core-alpha-magenta-10: #d12ea819;
  --core-alpha-magenta-20: #d12ea833;
  --core-alpha-magenta-30: #d12ea84c;
  --core-alpha-magenta-40: #d12ea866;
  --core-alpha-magenta-50: #d12ea87f;
  --core-alpha-magenta-60: #d12ea899;
  --core-alpha-magenta-70: #d12ea8b2;
  --core-alpha-magenta-80: #d12ea8cc;
  --core-alpha-magenta-90: #d12ea8e5;
  --core-alpha-magenta-95: #d12ea8f2;
  --core-alpha-magenta-100: #d12ea8;
  --core-alpha-rosered-0: #d93b6a00;
  --core-alpha-rosered-5: #d93b6a0c;
  --core-alpha-rosered-10: #d93b6a19;
  --core-alpha-rosered-20: #d93b6a33;
  --core-alpha-rosered-30: #d93b6a4c;
  --core-alpha-rosered-40: #d93b6a66;
  --core-alpha-rosered-50: #d93b6a7f;
  --core-alpha-rosered-60: #d93b6a99;
  --core-alpha-rosered-70: #d93b6ab2;
  --core-alpha-rosered-80: #d93b6acc;
  --core-alpha-rosered-90: #d93b6ae5;
  --core-alpha-rosered-95: #d93b6af2;
  --core-alpha-rosered-100: #d93b6a;
  --core-alpha-yellow-0: #dfab3400;
  --core-alpha-yellow-5: #dfab340c;
  --core-alpha-yellow-10: #dfab3419;
  --core-alpha-yellow-20: #dfab3433;
  --core-alpha-yellow-30: #dfab344c;
  --core-alpha-yellow-40: #dfab3466;
  --core-alpha-yellow-50: #dfab347f;
  --core-alpha-yellow-60: #dfab3499;
  --core-alpha-yellow-70: #dfab34b2;
  --core-alpha-yellow-80: #dfab34cc;
  --core-alpha-yellow-90: #dfab34e5;
  --core-alpha-yellow-95: #dfab34f2;
  --core-alpha-yellow-100: #dfab34;
}
