:root {
--base-text-primary_default: var(--core-color-grey-900);
--base-text-primary_hover: var(--core-color-grey-800);
--base-text-primary_pressed: var(--core-color-grey-700);
--base-text-primary-reverse_default: var(--core-color-grey-25);
--base-text-primary-reverse_hover: var(--core-color-grey-50);
--base-text-primary-reverse_pressed: var(--core-color-grey-100);
--base-text-secondary_default: var(--core-color-grey-700);
--base-text-secondary_hover: var(--core-color-grey-800);
--base-text-secondary_pressed: var(--core-color-grey-900);
--base-text-tertiary_default: var(--core-color-grey-600);
--base-text-tertiary_hover: var(--core-color-grey-700);
--base-text-quaternary_default: var(--core-color-grey-500);
--base-text-quaternary_hover: var(--core-color-grey-600);
--base-text-quinary: var(--core-color-grey-400);
--base-text-brand_default: var(--core-color-brand-700);
--base-text-brand_hover: var(--core-color-brand-800);
--base-text-brand_pressed: var(--core-color-brand-900);
--base-text-error_default: var(--core-color-error-600);
--base-text-error_hover: var(--core-color-error-700);
--base-text-error_pressed: var(--core-color-error-800);
--base-text-white: var(--white);
--base-text-disabled: var(--core-color-grey-400);
--base-text-placeholder: var(--core-color-grey-400);
--base-text-placeholder-subtle: var(--core-color-grey-300);
--base-fg-primary_default: var(--core-color-grey-900);
--base-fg-primary_hover: var(--core-color-grey-800);
--base-fg-primary_pressed: var(--core-color-grey-700);
--base-fg-primary-reverse_default: var(--core-color-grey-50);
--base-fg-primary-reverse_hover: var(--core-color-grey-100);
--base-fg-primary-reverse_pressed: var(--core-color-grey-200);
--base-fg-secondary_default: var(--core-color-grey-700);
--base-fg-secondary_hover: var(--core-color-grey-800);
--base-fg-secondary_pressed: var(--core-color-grey-900);
--base-fg-tertiary_default: var(--core-color-grey-600);
--base-fg-tertiary_hover: var(--core-color-grey-700);
--base-fg-quaternary_default: var(--core-color-grey-500);
--base-fg-quaternary_hover: var(--core-color-grey-600);
--base-fg-quinary: var(--core-color-grey-400);
--base-fg-brand_default: var(--core-color-brand-600);
--base-fg-brand_hover: var(--core-color-brand-700);
--base-fg-brand_pressed: var(--core-color-brand-800);
--base-fg-brand-reverse_default: var(--core-color-brand-50);
--base-fg-brand-reverse_hover: var(--core-color-brand-100);
--base-fg-brand-reverse_pressed: var(--core-color-brand-200);
--base-fg-error_default: var(--core-color-error-600);
--base-fg-error_hover: var(--core-color-error-700);
--base-fg-error_pressed: var(--core-color-error-800);
--base-fg-white: var(--white);
--base-fg-disabled: var(--core-color-grey-400);
--base-fg-disabled_subtle: var(--core-color-grey-300);
--base-fg-placeholder: var(--core-color-grey-400);
--base-border-primary: var(--core-color-grey-300);
--base-border-secondary: var(--core-color-grey-200);
--base-border-tertiary: var(--core-color-grey-100);
--base-border-quaternary: var(--core-color-grey-50);
--base-border-disabled: var(--core-color-grey-300);
--base-border-disabled_subtle: var(--core-color-grey-200);
--base-border-brand: var(--core-color-brand-300);
--base-border-brand-solid: var(--core-color-brand-600);
--base-border-error: var(--core-color-error-300);
--base-border-error-solid: var(--core-color-error-600);
--base-bg-primary: var(--core-color-brand-25);
--base-bg-primary_alt: var(--core-color-brand-25);
--base-bg-secondary: var(--core-color-brand-50);
--base-bg-secondary_alt: var(--core-color-brand-50);
--base-bg-secondary_hover: var(--core-color-brand-100);
--base-bg-secondary_pressed: var(--core-color-brand-200);
--base-bg-tertiary: var(--core-color-brand-100);
--base-bg-tertiary_hover: var(--core-color-brand-200);
--base-bg-tertiary_pressed: var(--core-color-brand-300);
--base-bg-tertiary_alt: var(--core-color-brand-100);
--base-bg-quaternary: var(--core-color-brand-200);
--base-bg-neutral: var(--core-color-grey-100);
--base-bg-neutral_hover: var(--core-color-grey-200);
--base-bg-neutral_pressed: var(--core-color-grey-300);
--base-bg-neutral-reverse: var(--core-color-grey-950);
--base-bg-neutral-reverse_hover: var(--core-color-grey-800);
--base-bg-neutral-reverse_pressed: var(--core-color-grey-700);
--base-bg-brand_default: var(--core-color-brand-100);
--base-bg-brand_hover: var(--core-color-brand-200);
--base-bg-brand_pressed: var(--core-color-brand-300);
--base-bg-brand-reverse_default: var(--core-color-brand-700);
--base-bg-brand-reverse_hover: var(--core-color-brand-800);
--base-bg-brand-reverse_pressed: var(--core-color-brand-900);
--base-bg-error_default: var(--core-color-error-100);
--base-bg-error_hover: var(--core-color-error-200);
--base-bg-error_pressed: var(--core-color-error-300);
--base-bg-error-reverse_default: var(--core-color-error-600);
--base-bg-error-reverse_hover: var(--core-color-error-700);
--base-bg-error-reverse_pressed: var(--core-color-error-800);
--base-bg-white: var(--white);
--base-bg-active: var(--core-color-grey-50);
--base-bg-disabled: var(--core-color-grey-100);
--base-bg-disabled_subtle: var(--core-color-grey-50);
--base-bg-overlay: var(--core-alpha-black-40);
--util-color-brand-25: var(--core-color-brand-25);
--util-color-brand-50: var(--core-color-brand-50);
--util-color-brand-100: var(--core-color-brand-100);
--util-color-brand-200: var(--core-color-brand-200);
--util-color-brand-300: var(--core-color-brand-300);
--util-color-brand-400: var(--core-color-brand-400);
--util-color-brand-500: var(--core-color-brand-500);
--util-color-brand-600: var(--core-color-brand-600);
--util-color-brand-700: var(--core-color-brand-700);
--util-color-brand-800: var(--core-color-brand-800);
--util-color-brand-900: var(--core-color-brand-900);
--util-color-brand-950: var(--core-color-brand-950);
--util-color-brand-alt-25: var(--core-color-brand-25);
--util-color-brand-alt-50: var(--core-color-brand-50);
--util-color-brand-alt-100: var(--core-color-brand-100);
--util-color-brand-alt-200: var(--core-color-brand-200);
--util-color-brand-alt-300: var(--core-color-brand-300);
--util-color-brand-alt-400: var(--core-color-brand-400);
--util-color-brand-alt-500: var(--core-color-brand-500);
--util-color-brand-alt-600: var(--core-color-brand-600);
--util-color-brand-alt-700: var(--core-color-brand-700);
--util-color-brand-alt-800: var(--core-color-brand-800);
--util-color-brand-alt-900: var(--core-color-brand-900);
--util-color-brand-alt-950: var(--core-color-brand-950);
--util-color-leaf-25: var(--core-color-leaf-25);
--util-color-leaf-50: var(--core-color-leaf-50);
--util-color-leaf-100: var(--core-color-leaf-100);
--util-color-leaf-200: var(--core-color-leaf-200);
--util-color-leaf-300: var(--core-color-leaf-300);
--util-color-leaf-400: var(--core-color-leaf-400);
--util-color-leaf-500: var(--core-color-leaf-500);
--util-color-leaf-600: var(--core-color-leaf-600);
--util-color-leaf-700: var(--core-color-leaf-700);
--util-color-leaf-800: var(--core-color-leaf-800);
--util-color-leaf-900: var(--core-color-leaf-900);
--util-color-leaf-950: var(--core-color-leaf-950);
--util-color-forest-25: var(--core-color-forest-25);
--util-color-forest-50: var(--core-color-forest-50);
--util-color-forest-100: var(--core-color-forest-100);
--util-color-forest-200: var(--core-color-forest-200);
--util-color-forest-300: var(--core-color-forest-300);
--util-color-forest-400: var(--core-color-forest-400);
--util-color-forest-500: var(--core-color-forest-500);
--util-color-forest-600: var(--core-color-forest-600);
--util-color-forest-700: var(--core-color-forest-700);
--util-color-forest-800: var(--core-color-forest-800);
--util-color-forest-900: var(--core-color-forest-900);
--util-color-forest-950: var(--core-color-forest-950);
--util-color-waterblue-25: var(--core-color-waterblue-25);
--util-color-waterblue-50: var(--core-color-waterblue-50);
--util-color-waterblue-100: var(--core-color-waterblue-100);
--util-color-waterblue-200: var(--core-color-waterblue-200);
--util-color-waterblue-300: var(--core-color-waterblue-300);
--util-color-waterblue-400: var(--core-color-waterblue-400);
--util-color-waterblue-500: var(--core-color-waterblue-500);
--util-color-waterblue-600: var(--core-color-waterblue-600);
--util-color-waterblue-700: var(--core-color-waterblue-700);
--util-color-waterblue-800: var(--core-color-waterblue-800);
--util-color-waterblue-900: var(--core-color-waterblue-900);
--util-color-waterblue-950: var(--core-color-waterblue-950);
--util-color-clearblue-25: var(--core-color-clearblue-25);
--util-color-clearblue-50: var(--core-color-clearblue-50);
--util-color-clearblue-100: var(--core-color-clearblue-100);
--util-color-clearblue-200: var(--core-color-clearblue-200);
--util-color-clearblue-300: var(--core-color-clearblue-300);
--util-color-clearblue-400: var(--core-color-clearblue-400);
--util-color-clearblue-500: var(--core-color-clearblue-500);
--util-color-clearblue-600: var(--core-color-clearblue-600);
--util-color-clearblue-700: var(--core-color-clearblue-700);
--util-color-clearblue-800: var(--core-color-clearblue-800);
--util-color-clearblue-900: var(--core-color-clearblue-900);
--util-color-clearblue-950: var(--core-color-clearblue-900);
--util-color-purple-25: var(--core-color-purple-25);
--util-color-purple-50: var(--core-color-purple-50);
--util-color-purple-100: var(--core-color-purple-100);
--util-color-purple-200: var(--core-color-purple-200);
--util-color-purple-300: var(--core-color-purple-300);
--util-color-purple-400: var(--core-color-purple-400);
--util-color-purple-500: var(--core-color-purple-500);
--util-color-purple-600: var(--core-color-purple-600);
--util-color-purple-700: var(--core-color-purple-700);
--util-color-purple-800: var(--core-color-purple-800);
--util-color-purple-900: var(--core-color-purple-900);
--util-color-purple-950: var(--core-color-purple-950);
--util-color-magenta-25: var(--core-color-magenta-25);
--util-color-magenta-50: var(--core-color-magenta-50);
--util-color-magenta-100: var(--core-color-magenta-100);
--util-color-magenta-200: var(--core-color-magenta-200);
--util-color-magenta-300: var(--core-color-magenta-300);
--util-color-magenta-400: var(--core-color-magenta-400);
--util-color-magenta-500: var(--core-color-magenta-500);
--util-color-magenta-600: var(--core-color-magenta-600);
--util-color-magenta-700: var(--core-color-magenta-700);
--util-color-magenta-800: var(--core-color-magenta-800);
--util-color-magenta-900: var(--core-color-magenta-900);
--util-color-magenta-950: var(--core-color-magenta-950);
--util-color-rosered-25: var(--core-color-rosered-25);
--util-color-rosered-50: var(--core-color-rosered-50);
--util-color-rosered-100: var(--core-color-rosered-100);
--util-color-rosered-200: var(--core-color-rosered-200);
--util-color-rosered-300: var(--core-color-rosered-300);
--util-color-rosered-400: var(--core-color-rosered-400);
--util-color-rosered-500: var(--core-color-rosered-500);
--util-color-rosered-600: var(--core-color-rosered-600);
--util-color-rosered-700: var(--core-color-rosered-700);
--util-color-rosered-800: var(--core-color-rosered-800);
--util-color-rosered-900: var(--core-color-rosered-900);
--util-color-rosered-950: var(--core-color-rosered-950);
--util-color-yellow-25: var(--core-color-yellow-25);
--util-color-yellow-50: var(--core-color-yellow-50);
--util-color-yellow-100: var(--core-color-yellow-100);
--util-color-yellow-200: var(--core-color-yellow-200);
--util-color-yellow-300: var(--core-color-yellow-300);
--util-color-yellow-400: var(--core-color-yellow-400);
--util-color-yellow-500: var(--core-color-yellow-500);
--util-color-yellow-600: var(--core-color-yellow-600);
--util-color-yellow-700: var(--core-color-yellow-700);
--util-color-yellow-800: var(--core-color-yellow-800);
--util-color-yellow-900: var(--core-color-yellow-900);
--util-color-yellow-950: var(--core-color-yellow-950);
--util-color-grey-25: var(--core-color-grey-25);
--util-color-grey-50: var(--core-color-grey-50);
--util-color-grey-100: var(--core-color-grey-100);
--util-color-grey-200: var(--core-color-grey-200);
--util-color-grey-300: var(--core-color-grey-300);
--util-color-grey-400: var(--core-color-grey-400);
--util-color-grey-500: var(--core-color-grey-500);
--util-color-grey-600: var(--core-color-grey-600);
--util-color-grey-700: var(--core-color-grey-700);
--util-color-grey-800: var(--core-color-grey-800);
--util-color-grey-900: var(--core-color-grey-900);
--util-color-grey-950: var(--core-color-grey-950);
--util-color-error-25: var(--core-color-error-25);
--util-color-error-50: var(--core-color-error-50);
--util-color-error-100: var(--core-color-error-100);
--util-color-error-200: var(--core-color-error-200);
--util-color-error-300: var(--core-color-error-300);
--util-color-error-400: var(--core-color-error-400);
--util-color-error-500: var(--core-color-error-500);
--util-color-error-600: var(--core-color-error-600);
--util-color-error-700: var(--core-color-error-700);
--util-color-error-800: var(--core-color-error-800);
--util-color-error-900: var(--core-color-error-900);
--util-color-error-950: var(--core-color-error-950);
--util-color-warning-25: var(--core-color-warning-25);
--util-color-warning-50: var(--core-color-warning-50);
--util-color-warning-100: var(--core-color-warning-100);
--util-color-warning-200: var(--core-color-warning-200);
--util-color-warning-300: var(--core-color-warning-300);
--util-color-warning-400: var(--core-color-warning-400);
--util-color-warning-500: var(--core-color-warning-500);
--util-color-warning-600: var(--core-color-warning-600);
--util-color-warning-700: var(--core-color-warning-700);
--util-color-warning-800: var(--core-color-warning-800);
--util-color-warning-900: var(--core-color-warning-900);
--util-color-warning-950: var(--core-color-warning-950);
--util-color-success-25: var(--core-color-success-25);
--util-color-success-50: var(--core-color-success-50);
--util-color-success-100: var(--core-color-success-100);
--util-color-success-200: var(--core-color-success-200);
--util-color-success-300: var(--core-color-success-300);
--util-color-success-400: var(--core-color-success-400);
--util-color-success-500: var(--core-color-success-500);
--util-color-success-600: var(--core-color-success-600);
--util-color-success-700: var(--core-color-success-700);
--util-color-success-800: var(--core-color-success-800);
--util-color-success-900: var(--core-color-success-900);
--util-color-success-950: var(--core-color-success-950);
--util-alpha-white-0: var(--core-alpha-white-0);
--util-alpha-white-5: var(--core-alpha-white-5);
--util-alpha-white-10: var(--core-alpha-white-10);
--util-alpha-white-20: var(--core-alpha-white-20);
--util-alpha-white-30: var(--core-alpha-white-30);
--util-alpha-white-40: var(--core-alpha-white-40);
--util-alpha-white-50: var(--core-alpha-white-50);
--util-alpha-white-60: var(--core-alpha-white-60);
--util-alpha-white-70: var(--core-alpha-white-70);
--util-alpha-white-80: var(--core-alpha-white-80);
--util-alpha-white-90: var(--core-alpha-white-90);
--util-alpha-white-100: var(--core-alpha-white-100);
--util-alpha-black-0: var(--core-alpha-black-0);
--util-alpha-black-5: var(--core-alpha-black-5);
--util-alpha-black-10: var(--core-alpha-black-10);
--util-alpha-black-20: var(--core-alpha-black-20);
--util-alpha-black-30: var(--core-alpha-black-30);
--util-alpha-black-40: var(--core-alpha-black-40);
--util-alpha-black-50: var(--core-alpha-black-50);
--util-alpha-black-60: var(--core-alpha-black-60);
--util-alpha-black-70: var(--core-alpha-black-70);
--util-alpha-black-80: var(--core-alpha-black-80);
--util-alpha-black-90: var(--core-alpha-black-90);
--util-alpha-black-100: var(--core-alpha-black-100);
--comp-button-close-fg-default: var(--core-alpha-black-50);
--comp-button-close-bg-hover: var(--core-alpha-black-5);
--comp-button-close-bg-pressed: var(--core-alpha-black-10);
--white: #FFFFFF;
--black: #000000;
--core-color-brand-25: #FAFBFA;
--core-color-brand-50: #F2F5F3;
--core-color-brand-100: #E5EBE8;
--core-color-brand-200: #D4DDD9;
--core-color-brand-300: #B2C3BB;
--core-color-brand-400: #92AA9F;
--core-color-brand-500: #799689;
--core-color-brand-600: #647C72;
--core-color-brand-700: #4F635A;
--core-color-brand-800: #41534B;
--core-color-brand-900: #35453E;
--core-color-brand-950: #232F2A;
--core-color-secondary-25: #F9FCFC;
--core-color-secondary-50: #F0F6F6;
--core-color-secondary-100: #E3EDED;
--core-color-secondary-200: #CBDCDC;
--core-color-secondary-300: #AAC5C5;
--core-color-secondary-400: #719E9E;
--core-color-secondary-500: #4F8786;
--core-color-secondary-600: #447373;
--core-color-secondary-700: #3B6463;
--core-color-secondary-800: #315252;
--core-color-secondary-900: #274140;
--core-color-secondary-950: #1D2F2F;
--core-color-highlight-25: #FEFCFB;
--core-color-highlight-50: #FEF9F6;
--core-color-highlight-100: #FDF3EE;
--core-color-highlight-200: #FBE8DF;
--core-color-highlight-300: #F6CCBA;
--core-color-highlight-400: #EB885C;
--core-color-highlight-500: #E5662F;
--core-color-highlight-600: #C65827;
--core-color-highlight-700: #A74A1F;
--core-color-highlight-800: #883B18;
--core-color-highlight-900: #692D10;
--core-color-highlight-950: #4A1F08;
--core-color-grey-25: #FAFAFA;
--core-color-grey-50: #F2F2F2;
--core-color-grey-100: #E8E8E8;
--core-color-grey-200: #DBDCDC;
--core-color-grey-300: #C1C3C2;
--core-color-grey-400: #909393;
--core-color-grey-500: #646867;
--core-color-grey-600: #535756;
--core-color-grey-700: #3E4140;
--core-color-grey-800: #2D2F2E;
--core-color-grey-900: #202221;
--core-color-grey-950: #111312;
--core-color-error-25: #FEFAFA;
--core-color-error-50: #FDF4F4;
--core-color-error-100: #FAE0DE;
--core-color-error-200: #F8CCC9;
--core-color-error-300: #F2A29E;
--core-color-error-400: #EB726B;
--core-color-error-500: #E5453D;
--core-color-error-600: #CA3D35;
--core-color-error-700: #AE352D;
--core-color-error-800: #8D2A25;
--core-color-error-900: #76231E;
--core-color-error-950: #511915;
--core-color-warning-25: #FEFDFB;
--core-color-warning-50: #FDF9F2;
--core-color-warning-100: #F7E6CA;
--core-color-warning-200: #EFCE95;
--core-color-warning-300: #E8BA6D;
--core-color-warning-400: #E1AA4C;
--core-color-warning-500: #DD9720;
--core-color-warning-600: #B77C1A;
--core-color-warning-700: #8F6114;
--core-color-warning-800: #704C10;
--core-color-warning-900: #5A3E0C;
--core-color-warning-950: #3F2C09;
--core-color-success-25: #EFFBF7;
--core-color-success-50: #E5F5EE;
--core-color-success-100: #D2EEE2;
--core-color-success-200: #AADFC8;
--core-color-success-300: #7DCEAC;
--core-color-success-400: #58C094;
--core-color-success-500: #3BAA7A;
--core-color-success-600: #308C64;
--core-color-success-700: #287152;
--core-color-success-800: #215F44;
--core-color-success-900: #1A4C37;
--core-color-success-950: #123628;
--core-color-leaf-25: #F5F9F0;
--core-color-leaf-50: #DFEDCF;
--core-color-leaf-100: #CAE1AD;
--core-color-leaf-200: #B4D58C;
--core-color-leaf-300: #9EC86A;
--core-color-leaf-400: #89BC48;
--core-color-leaf-500: #73B027;
--core-color-leaf-600: #5A8A1E;
--core-color-leaf-700: #497119;
--core-color-leaf-800: #3C5C14;
--core-color-leaf-900: #2F480F;
--core-color-leaf-950: #1C2C09;
--core-color-forest-25: #F1F9F6;
--core-color-forest-50: #DCEFEA;
--core-color-forest-100: #C3E5DA;
--core-color-forest-200: #9CD4C4;
--core-color-forest-300: #82C9B4;
--core-color-forest-400: #6ABEA5;
--core-color-forest-500: #4DB294;
--core-color-forest-600: #3C8B74;
--core-color-forest-700: #2E6B59;
--core-color-forest-800: #255647;
--core-color-forest-900: #1A3D33;
--core-color-forest-950: #132C25;
--core-color-waterblue-25: #F0F7FA;
--core-color-waterblue-50: #DAECF1;
--core-color-waterblue-100: #C3E1EA;
--core-color-waterblue-200: #B0D7E3;
--core-color-waterblue-300: #92C8D8;
--core-color-waterblue-400: #74B8CE;
--core-color-waterblue-500: #52A7C2;
--core-color-waterblue-600: #42889E;
--core-color-waterblue-700: #366F81;
--core-color-waterblue-800: #2A5664;
--core-color-waterblue-900: #1F414C;
--core-color-waterblue-950: #142930;
--core-color-clearblue-25: #ECF4FE;
--core-color-clearblue-50: #D0E4FB;
--core-color-clearblue-100: #A0C9F8;
--core-color-clearblue-200: #76B1F4;
--core-color-clearblue-300: #509BF1;
--core-color-clearblue-400: #2F88EF;
--core-color-clearblue-500: #1277ED;
--core-color-clearblue-600: #0E60BE;
--core-color-clearblue-700: #0B4C98;
--core-color-clearblue-800: #093B76;
--core-color-clearblue-900: #062C58;
--core-color-clearblue-950: #052143;
--core-color-purple-25: #F4EFFA;
--core-color-purple-50: #EAE0F5;
--core-color-purple-100: #D1BDEA;
--core-color-purple-200: #C1A6E3;
--core-color-purple-300: #B08EDC;
--core-color-purple-400: #9B6FD2;
--core-color-purple-500: #8853CA;
--core-color-purple-600: #7245A8;
--core-color-purple-700: #5D388A;
--core-color-purple-800: #4C2E70;
--core-color-purple-900: #3B2457;
--core-color-purple-950: #2D1A42;
--core-color-magenta-25: #FBEEF8;
--core-color-magenta-50: #F7DAEF;
--core-color-magenta-100: #F0BCE3;
--core-color-magenta-200: #E897D3;
--core-color-magenta-300: #E17AC7;
--core-color-magenta-400: #DA58B9;
--core-color-magenta-500: #D12EA8;
--core-color-magenta-600: #AC258B;
--core-color-magenta-700: #8A1E70;
--core-color-magenta-800: #6D1858;
--core-color-magenta-900: #541244;
--core-color-magenta-950: #3F0D33;
--core-color-rosered-25: #FCEEF2;
--core-color-rosered-50: #F6D4DE;
--core-color-rosered-100: #F5BACB;
--core-color-rosered-200: #ED87A6;
--core-color-rosered-300: #E56C90;
--core-color-rosered-400: #E05880;
--core-color-rosered-500: #D93B6A;
--core-color-rosered-600: #BD335D;
--core-color-rosered-700: #99294A;
--core-color-rosered-800: #7A213C;
--core-color-rosered-900: #57172A;
--core-color-rosered-950: #4A1424;
--core-color-yellow-25: #FEFDF1;
--core-color-yellow-50: #FDFBE9;
--core-color-yellow-100: #FDF6C7;
--core-color-yellow-200: #FBED9E;
--core-color-yellow-300: #F8E17F;
--core-color-yellow-400: #F1C53F;
--core-color-yellow-500: #DFAB34;
--core-color-yellow-600: #BF8727;
--core-color-yellow-700: #975F1B;
--core-color-yellow-800: #7C4B19;
--core-color-yellow-900: #693D19;
--core-color-yellow-950: #4E2E12;
--core-alpha-white-0: #FFFFFF00;
--core-alpha-white-5: #FFFFFF0C;
--core-alpha-white-10: #FFFFFF19;
--core-alpha-white-20: #FFFFFF33;
--core-alpha-white-30: #FFFFFF4C;
--core-alpha-white-40: #FFFFFF66;
--core-alpha-white-50: #FFFFFF7F;
--core-alpha-white-60: #FFFFFF99;
--core-alpha-white-70: #FFFFFFB2;
--core-alpha-white-80: #FFFFFFCC;
--core-alpha-white-90: #FFFFFFE5;
--core-alpha-white-95: #FFFFFFF2;
--core-alpha-white-100: #FFFFFF;
--core-alpha-black-0: #00000000;
--core-alpha-black-5: #0000000C;
--core-alpha-black-10: #00000019;
--core-alpha-black-20: #00000033;
--core-alpha-black-30: #0000004C;
--core-alpha-black-40: #00000066;
--core-alpha-black-50: #0000007F;
--core-alpha-black-60: #00000099;
--core-alpha-black-70: #000000B2;
--core-alpha-black-80: #000000CC;
--core-alpha-black-90: #000000E5;
--core-alpha-black-95: #000000F2;
--core-alpha-black-100: #000000;
--core-alpha-grey950-0: #0D0E1200;
--core-alpha-grey950-5: #0D0E120C;
--core-alpha-grey950-10: #0D0E1219;
--core-alpha-grey950-20: #0D0E1233;
--core-alpha-grey950-30: #0D0E124C;
--core-alpha-grey950-40: #0D0E1266;
--core-alpha-grey950-50: #0D0E127F;
--core-alpha-grey950-60: #0D0E1299;
--core-alpha-grey950-70: #0D0E12B2;
--core-alpha-grey950-80: #0D0E12CC;
--core-alpha-grey950-90: #0D0E12E5;
--core-alpha-grey950-95: #0D0E12F2;
--core-alpha-grey950-100: #0D0E12;
--core-alpha-brand-0: #79968900;
--core-alpha-brand-5: #7996890C;
--core-alpha-brand-10: #79968919;
--core-alpha-brand-20: #79968933;
--core-alpha-brand-30: #7996894C;
--core-alpha-brand-40: #79968966;
--core-alpha-brand-50: #7996897F;
--core-alpha-brand-60: #79968999;
--core-alpha-brand-70: #799689B2;
--core-alpha-brand-80: #799689CC;
--core-alpha-brand-90: #799689E5;
--core-alpha-brand-95: #799689F2;
--core-alpha-brand-100: #799689;
--core-alpha-leaf-0: #73B02700;
--core-alpha-leaf-5: #73B0270C;
--core-alpha-leaf-10: #73B02719;
--core-alpha-leaf-20: #73B02733;
--core-alpha-leaf-30: #73B0274C;
--core-alpha-leaf-40: #73B02766;
--core-alpha-leaf-50: #73B0277F;
--core-alpha-leaf-60: #73B02799;
--core-alpha-leaf-70: #73B027B2;
--core-alpha-leaf-80: #73B027CC;
--core-alpha-leaf-90: #73B027E5;
--core-alpha-leaf-95: #73B027F2;
--core-alpha-leaf-100: #73B027;
--core-alpha-forest-0: #4DB29400;
--core-alpha-forest-5: #4DB2940C;
--core-alpha-forest-10: #4DB29419;
--core-alpha-forest-20: #4DB29433;
--core-alpha-forest-30: #4DB2944C;
--core-alpha-forest-40: #4DB29466;
--core-alpha-forest-50: #4DB2947F;
--core-alpha-forest-60: #4DB29499;
--core-alpha-forest-70: #4DB294B2;
--core-alpha-forest-80: #4DB294CC;
--core-alpha-forest-90: #4DB294E5;
--core-alpha-forest-95: #4DB294F2;
--core-alpha-forest-100: #4DB294;
--core-alpha-waterblue-0: #52A7C200;
--core-alpha-waterblue-5: #52A7C20C;
--core-alpha-waterblue-10: #52A7C219;
--core-alpha-waterblue-20: #52A7C233;
--core-alpha-waterblue-30: #52A7C24C;
--core-alpha-waterblue-40: #52A7C266;
--core-alpha-waterblue-50: #52A7C27F;
--core-alpha-waterblue-60: #52A7C299;
--core-alpha-waterblue-70: #52A7C2B2;
--core-alpha-waterblue-80: #52A7C2CC;
--core-alpha-waterblue-90: #52A7C2E5;
--core-alpha-waterblue-95: #52A7C2F2;
--core-alpha-waterblue-100: #52A7C2;
--core-alpha-clearblue-0: #1277ED00;
--core-alpha-clearblue-5: #1277ED0C;
--core-alpha-clearblue-10: #1277ED19;
--core-alpha-clearblue-20: #1277ED33;
--core-alpha-clearblue-30: #1277ED4C;
--core-alpha-clearblue-40: #1277ED66;
--core-alpha-clearblue-50: #1277ED7F;
--core-alpha-clearblue-60: #1277ED99;
--core-alpha-clearblue-70: #1277EDB2;
--core-alpha-clearblue-80: #1277EDCC;
--core-alpha-clearblue-90: #1277EDE5;
--core-alpha-clearblue-95: #1277EDF2;
--core-alpha-clearblue-100: #1277ED;
--core-alpha-purple-0: #8853CA00;
--core-alpha-purple-5: #8853CA0C;
--core-alpha-purple-10: #8853CA19;
--core-alpha-purple-20: #8853CA33;
--core-alpha-purple-30: #8853CA4C;
--core-alpha-purple-40: #8853CA66;
--core-alpha-purple-50: #8853CA7F;
--core-alpha-purple-60: #8853CA99;
--core-alpha-purple-70: #8853CAB2;
--core-alpha-purple-80: #8853CACC;
--core-alpha-purple-90: #8853CAE5;
--core-alpha-purple-95: #8853CAF2;
--core-alpha-purple-100: #8853CA;
--core-alpha-magenta-0: #D12EA800;
--core-alpha-magenta-5: #D12EA80C;
--core-alpha-magenta-10: #D12EA819;
--core-alpha-magenta-20: #D12EA833;
--core-alpha-magenta-30: #D12EA84C;
--core-alpha-magenta-40: #D12EA866;
--core-alpha-magenta-50: #D12EA87F;
--core-alpha-magenta-60: #D12EA899;
--core-alpha-magenta-70: #D12EA8B2;
--core-alpha-magenta-80: #D12EA8CC;
--core-alpha-magenta-90: #D12EA8E5;
--core-alpha-magenta-95: #D12EA8F2;
--core-alpha-magenta-100: #D12EA8;
--core-alpha-rosered-0: #D93B6A00;
--core-alpha-rosered-5: #D93B6A0C;
--core-alpha-rosered-10: #D93B6A19;
--core-alpha-rosered-20: #D93B6A33;
--core-alpha-rosered-30: #D93B6A4C;
--core-alpha-rosered-40: #D93B6A66;
--core-alpha-rosered-50: #D93B6A7F;
--core-alpha-rosered-60: #D93B6A99;
--core-alpha-rosered-70: #D93B6AB2;
--core-alpha-rosered-80: #D93B6ACC;
--core-alpha-rosered-90: #D93B6AE5;
--core-alpha-rosered-95: #D93B6AF2;
--core-alpha-rosered-100: #D93B6A;
--core-alpha-yellow-0: #DFAB3400;
--core-alpha-yellow-5: #DFAB340C;
--core-alpha-yellow-10: #DFAB3419;
--core-alpha-yellow-20: #DFAB3433;
--core-alpha-yellow-30: #DFAB344C;
--core-alpha-yellow-40: #DFAB3466;
--core-alpha-yellow-50: #DFAB347F;
--core-alpha-yellow-60: #DFAB3499;
--core-alpha-yellow-70: #DFAB34B2;
--core-alpha-yellow-80: #DFAB34CC;
--core-alpha-yellow-90: #DFAB34E5;
--core-alpha-yellow-95: #DFAB34F2;
--core-alpha-yellow-100: #DFAB34;
}
.dark {
--base-text-primary_default: var(--core-color-grey-50);
--base-text-primary_hover: var(--core-color-grey-100);
--base-text-primary_pressed: var(--core-color-grey-200);
--base-text-primary-reverse_default: var(--core-color-grey-900);
--base-text-primary-reverse_hover: var(--core-color-grey-800);
--base-text-primary-reverse_pressed: var(--core-color-grey-700);
--base-text-secondary_default: var(--core-color-grey-300);
--base-text-secondary_hover: var(--core-color-grey-200);
--base-text-secondary_pressed: var(--core-color-grey-100);
--base-text-tertiary_default: var(--core-color-grey-400);
--base-text-tertiary_hover: var(--core-color-grey-300);
--base-text-quaternary_default: var(--core-color-grey-500);
--base-text-quaternary_hover: var(--core-color-grey-400);
--base-text-quinary: var(--core-color-grey-600);
--base-text-brand_default: var(--core-color-brand-300);
--base-text-brand_hover: var(--core-color-brand-200);
--base-text-brand_pressed: var(--core-color-brand-100);
--base-text-error_default: var(--core-color-error-400);
--base-text-error_hover: var(--core-color-error-300);
--base-text-error_pressed: var(--core-color-error-200);
--base-text-white: var(--white);
--base-text-disabled: var(--core-color-grey-600);
--base-text-placeholder: var(--core-color-grey-500);
--base-text-placeholder-subtle: var(--core-color-grey-700);
--base-fg-primary_default: var(--core-color-grey-50);
--base-fg-primary_hover: var(--core-color-grey-100);
--base-fg-primary_pressed: var(--core-color-grey-200);
--base-fg-primary-reverse_default: var(--core-color-grey-900);
--base-fg-primary-reverse_hover: var(--core-color-grey-800);
--base-fg-primary-reverse_pressed: var(--core-color-grey-700);
--base-fg-secondary_default: var(--core-color-grey-300);
--base-fg-secondary_hover: var(--core-color-grey-200);
--base-fg-secondary_pressed: var(--core-color-grey-100);
--base-fg-tertiary_default: var(--core-color-grey-400);
--base-fg-tertiary_hover: var(--core-color-grey-300);
--base-fg-quaternary_default: var(--core-color-grey-500);
--base-fg-quaternary_hover: var(--core-color-grey-400);
--base-fg-quinary: var(--core-color-grey-600);
--base-fg-brand_default: var(--core-color-brand-500);
--base-fg-brand_hover: var(--core-color-brand-400);
--base-fg-brand_pressed: var(--core-color-brand-300);
--base-fg-brand-reverse_default: var(--core-color-brand-900);
--base-fg-brand-reverse_hover: var(--core-color-brand-800);
--base-fg-brand-reverse_pressed: var(--core-color-brand-700);
--base-fg-error_default: var(--core-color-error-400);
--base-fg-error_hover: var(--core-color-error-300);
--base-fg-error_pressed: var(--core-color-error-200);
--base-fg-white: var(--white);
--base-fg-disabled: var(--core-color-grey-500);
--base-fg-disabled_subtle: var(--core-color-grey-600);
--base-fg-placeholder: var(--core-color-grey-500);
--base-border-primary: var(--core-color-grey-700);
--base-border-secondary: var(--core-color-grey-800);
--base-border-tertiary: var(--core-color-grey-800);
--base-border-quaternary: var(--core-color-grey-900);
--base-border-disabled: var(--core-color-grey-700);
--base-border-disabled_subtle: var(--core-color-grey-800);
--base-border-brand: var(--core-color-brand-400);
--base-border-brand-solid: var(--core-color-brand-500);
--base-border-error: var(--core-color-error-400);
--base-border-error-solid: var(--core-color-error-500);
--base-bg-primary: var(--core-color-grey-950);
--base-bg-primary_alt: var(--core-color-grey-900);
--base-bg-secondary: var(--core-color-grey-900);
--base-bg-secondary_alt: var(--core-color-grey-950);
--base-bg-secondary_hover: var(--core-color-grey-800);
--base-bg-secondary_pressed: var(--core-color-grey-700);
--base-bg-tertiary: var(--core-color-grey-800);
--base-bg-tertiary_hover: var(--core-color-grey-700);
--base-bg-tertiary_pressed: var(--core-color-grey-600);
--base-bg-tertiary_alt: var(--core-color-grey-950);
--base-bg-quaternary: var(--core-color-grey-700);
--base-bg-neutral: var(--core-color-grey-900);
--base-bg-neutral_hover: var(--core-color-grey-800);
--base-bg-neutral_pressed: var(--core-color-grey-700);
--base-bg-neutral-reverse: var(--core-color-grey-25);
--base-bg-neutral-reverse_hover: var(--core-color-grey-100);
--base-bg-neutral-reverse_pressed: var(--core-color-grey-200);
--base-bg-brand_default: var(--core-color-brand-950);
--base-bg-brand_hover: var(--core-color-brand-900);
--base-bg-brand_pressed: var(--core-color-brand-800);
--base-bg-brand-reverse_default: var(--core-color-brand-300);
--base-bg-brand-reverse_hover: var(--core-color-brand-200);
--base-bg-brand-reverse_pressed: var(--core-color-brand-100);
--base-bg-error_default: var(--core-color-error-900);
--base-bg-error_hover: var(--core-color-error-800);
--base-bg-error_pressed: var(--core-color-error-700);
--base-bg-error-reverse_default: var(--core-color-error-400);
--base-bg-error-reverse_hover: var(--core-color-error-300);
--base-bg-error-reverse_pressed: var(--core-color-error-200);
--base-bg-white: var(--white);
--base-bg-active: var(--core-color-grey-800);
--base-bg-disabled: var(--core-color-grey-800);
--base-bg-disabled_subtle: var(--core-color-grey-900);
--base-bg-overlay: var(--core-alpha-black-60);
--util-color-brand-25: var(--core-color-brand-950);
--util-color-brand-50: var(--core-color-brand-900);
--util-color-brand-100: var(--core-color-brand-800);
--util-color-brand-200: var(--core-color-brand-700);
--util-color-brand-300: var(--core-color-brand-600);
--util-color-brand-400: var(--core-color-brand-500);
--util-color-brand-500: var(--core-color-brand-400);
--util-color-brand-600: var(--core-color-brand-300);
--util-color-brand-700: var(--core-color-brand-200);
--util-color-brand-800: var(--core-color-brand-100);
--util-color-brand-900: var(--core-color-brand-50);
--util-color-brand-950: var(--core-color-brand-25);
--util-color-brand-alt-25: var(--core-color-grey-950);
--util-color-brand-alt-50: var(--core-color-grey-900);
--util-color-brand-alt-100: var(--core-color-grey-800);
--util-color-brand-alt-200: var(--core-color-grey-700);
--util-color-brand-alt-300: var(--core-color-grey-600);
--util-color-brand-alt-400: var(--core-color-grey-500);
--util-color-brand-alt-500: var(--core-color-grey-400);
--util-color-brand-alt-600: var(--core-color-grey-300);
--util-color-brand-alt-700: var(--core-color-grey-200);
--util-color-brand-alt-800: var(--core-color-grey-100);
--util-color-brand-alt-900: var(--core-color-grey-50);
--util-color-brand-alt-950: var(--core-color-grey-25);
--util-color-leaf-25: var(--core-color-leaf-950);
--util-color-leaf-50: var(--core-color-leaf-900);
--util-color-leaf-100: var(--core-color-leaf-800);
--util-color-leaf-200: var(--core-color-leaf-700);
--util-color-leaf-300: var(--core-color-leaf-600);
--util-color-leaf-400: var(--core-color-leaf-500);
--util-color-leaf-500: var(--core-color-leaf-400);
--util-color-leaf-600: var(--core-color-leaf-300);
--util-color-leaf-700: var(--core-color-leaf-200);
--util-color-leaf-800: var(--core-color-leaf-100);
--util-color-leaf-900: var(--core-color-leaf-50);
--util-color-leaf-950: var(--core-color-leaf-25);
--util-color-forest-25: var(--core-color-forest-950);
--util-color-forest-50: var(--core-color-forest-900);
--util-color-forest-100: var(--core-color-forest-800);
--util-color-forest-200: var(--core-color-forest-700);
--util-color-forest-300: var(--core-color-forest-600);
--util-color-forest-400: var(--core-color-forest-500);
--util-color-forest-500: var(--core-color-forest-400);
--util-color-forest-600: var(--core-color-forest-300);
--util-color-forest-700: var(--core-color-forest-200);
--util-color-forest-800: var(--core-color-forest-100);
--util-color-forest-900: var(--core-color-forest-50);
--util-color-forest-950: var(--core-color-forest-25);
--util-color-waterblue-25: var(--core-color-waterblue-950);
--util-color-waterblue-50: var(--core-color-waterblue-900);
--util-color-waterblue-100: var(--core-color-waterblue-800);
--util-color-waterblue-200: var(--core-color-waterblue-700);
--util-color-waterblue-300: var(--core-color-waterblue-600);
--util-color-waterblue-400: var(--core-color-waterblue-500);
--util-color-waterblue-500: var(--core-color-waterblue-400);
--util-color-waterblue-600: var(--core-color-waterblue-300);
--util-color-waterblue-700: var(--core-color-waterblue-200);
--util-color-waterblue-800: var(--core-color-waterblue-100);
--util-color-waterblue-900: var(--core-color-waterblue-50);
--util-color-waterblue-950: var(--core-color-waterblue-25);
--util-color-clearblue-25: var(--core-color-clearblue-950);
--util-color-clearblue-50: var(--core-color-clearblue-900);
--util-color-clearblue-100: var(--core-color-clearblue-800);
--util-color-clearblue-200: var(--core-color-clearblue-700);
--util-color-clearblue-300: var(--core-color-clearblue-600);
--util-color-clearblue-400: var(--core-color-clearblue-500);
--util-color-clearblue-500: var(--core-color-clearblue-400);
--util-color-clearblue-600: var(--core-color-clearblue-300);
--util-color-clearblue-700: var(--core-color-clearblue-200);
--util-color-clearblue-800: var(--core-color-clearblue-100);
--util-color-clearblue-900: var(--core-color-clearblue-50);
--util-color-clearblue-950: var(--core-color-clearblue-50);
--util-color-purple-25: var(--core-color-purple-950);
--util-color-purple-50: var(--core-color-purple-900);
--util-color-purple-100: var(--core-color-purple-800);
--util-color-purple-200: var(--core-color-purple-700);
--util-color-purple-300: var(--core-color-purple-600);
--util-color-purple-400: var(--core-color-purple-500);
--util-color-purple-500: var(--core-color-purple-400);
--util-color-purple-600: var(--core-color-purple-300);
--util-color-purple-700: var(--core-color-purple-200);
--util-color-purple-800: var(--core-color-purple-100);
--util-color-purple-900: var(--core-color-purple-50);
--util-color-purple-950: var(--core-color-purple-25);
--util-color-magenta-25: var(--core-color-magenta-950);
--util-color-magenta-50: var(--core-color-magenta-900);
--util-color-magenta-100: var(--core-color-magenta-800);
--util-color-magenta-200: var(--core-color-magenta-700);
--util-color-magenta-300: var(--core-color-magenta-600);
--util-color-magenta-400: var(--core-color-magenta-500);
--util-color-magenta-500: var(--core-color-magenta-400);
--util-color-magenta-600: var(--core-color-magenta-300);
--util-color-magenta-700: var(--core-color-magenta-200);
--util-color-magenta-800: var(--core-color-magenta-100);
--util-color-magenta-900: var(--core-color-magenta-50);
--util-color-magenta-950: var(--core-color-magenta-25);
--util-color-rosered-25: var(--core-color-rosered-950);
--util-color-rosered-50: var(--core-color-rosered-900);
--util-color-rosered-100: var(--core-color-rosered-800);
--util-color-rosered-200: var(--core-color-rosered-700);
--util-color-rosered-300: var(--core-color-rosered-600);
--util-color-rosered-400: var(--core-color-rosered-500);
--util-color-rosered-500: var(--core-color-rosered-400);
--util-color-rosered-600: var(--core-color-rosered-300);
--util-color-rosered-700: var(--core-color-rosered-200);
--util-color-rosered-800: var(--core-color-rosered-100);
--util-color-rosered-900: var(--core-color-rosered-50);
--util-color-rosered-950: var(--core-color-rosered-25);
--util-color-yellow-25: var(--core-color-yellow-950);
--util-color-yellow-50: var(--core-color-yellow-900);
--util-color-yellow-100: var(--core-color-yellow-800);
--util-color-yellow-200: var(--core-color-yellow-700);
--util-color-yellow-300: var(--core-color-yellow-600);
--util-color-yellow-400: var(--core-color-yellow-500);
--util-color-yellow-500: var(--core-color-yellow-400);
--util-color-yellow-600: var(--core-color-yellow-300);
--util-color-yellow-700: var(--core-color-yellow-200);
--util-color-yellow-800: var(--core-color-yellow-100);
--util-color-yellow-900: var(--core-color-yellow-50);
--util-color-yellow-950: var(--core-color-yellow-25);
--util-color-grey-25: var(--core-color-grey-950);
--util-color-grey-50: var(--core-color-grey-900);
--util-color-grey-100: var(--core-color-grey-800);
--util-color-grey-200: var(--core-color-grey-700);
--util-color-grey-300: var(--core-color-grey-600);
--util-color-grey-400: var(--core-color-grey-500);
--util-color-grey-500: var(--core-color-grey-400);
--util-color-grey-600: var(--core-color-grey-300);
--util-color-grey-700: var(--core-color-grey-200);
--util-color-grey-800: var(--core-color-grey-100);
--util-color-grey-900: var(--core-color-grey-50);
--util-color-grey-950: var(--core-color-grey-25);
--util-color-error-25: var(--core-color-error-950);
--util-color-error-50: var(--core-color-error-900);
--util-color-error-100: var(--core-color-error-800);
--util-color-error-200: var(--core-color-error-700);
--util-color-error-300: var(--core-color-error-600);
--util-color-error-400: var(--core-color-error-500);
--util-color-error-500: var(--core-color-error-400);
--util-color-error-600: var(--core-color-error-300);
--util-color-error-700: var(--core-color-error-200);
--util-color-error-800: var(--core-color-error-100);
--util-color-error-900: var(--core-color-error-50);
--util-color-error-950: var(--core-color-error-25);
--util-color-warning-25: var(--core-color-warning-950);
--util-color-warning-50: var(--core-color-warning-900);
--util-color-warning-100: var(--core-color-warning-800);
--util-color-warning-200: var(--core-color-warning-700);
--util-color-warning-300: var(--core-color-warning-600);
--util-color-warning-400: var(--core-color-warning-500);
--util-color-warning-500: var(--core-color-warning-400);
--util-color-warning-600: var(--core-color-warning-300);
--util-color-warning-700: var(--core-color-warning-200);
--util-color-warning-800: var(--core-color-warning-100);
--util-color-warning-900: var(--core-color-warning-50);
--util-color-warning-950: var(--core-color-warning-25);
--util-color-success-25: var(--core-color-success-950);
--util-color-success-50: var(--core-color-success-900);
--util-color-success-100: var(--core-color-success-800);
--util-color-success-200: var(--core-color-success-700);
--util-color-success-300: var(--core-color-success-600);
--util-color-success-400: var(--core-color-success-500);
--util-color-success-500: var(--core-color-success-400);
--util-color-success-600: var(--core-color-success-300);
--util-color-success-700: var(--core-color-success-200);
--util-color-success-800: var(--core-color-success-100);
--util-color-success-900: var(--core-color-success-50);
--util-color-success-950: var(--core-color-success-25);
--util-alpha-white-0: var(--core-alpha-grey950-0);
--util-alpha-white-5: var(--core-alpha-grey950-5);
--util-alpha-white-10: var(--core-alpha-grey950-10);
--util-alpha-white-20: var(--core-alpha-grey950-20);
--util-alpha-white-30: var(--core-alpha-grey950-30);
--util-alpha-white-40: var(--core-alpha-grey950-40);
--util-alpha-white-50: var(--core-alpha-grey950-50);
--util-alpha-white-60: var(--core-alpha-grey950-60);
--util-alpha-white-70: var(--core-alpha-grey950-70);
--util-alpha-white-80: var(--core-alpha-grey950-80);
--util-alpha-white-90: var(--core-alpha-grey950-90);
--util-alpha-white-100: var(--core-color-grey-950);
--util-alpha-black-0: var(--core-alpha-white-0);
--util-alpha-black-5: var(--core-alpha-white-5);
--util-alpha-black-10: var(--core-alpha-white-10);
--util-alpha-black-20: var(--core-alpha-white-20);
--util-alpha-black-30: var(--core-alpha-white-30);
--util-alpha-black-40: var(--core-alpha-white-40);
--util-alpha-black-50: var(--core-alpha-white-50);
--util-alpha-black-60: var(--core-alpha-white-60);
--util-alpha-black-70: var(--core-alpha-white-70);
--util-alpha-black-80: var(--core-alpha-white-80);
--util-alpha-black-90: var(--core-alpha-white-90);
--util-alpha-black-100: var(--core-alpha-white-100);
--comp-button-close-fg-default: var(--core-alpha-white-50);
--comp-button-close-bg-hover: var(--core-alpha-white-5);
--comp-button-close-bg-pressed: var(--core-alpha-white-10);
--white: #FFFFFF;
--black: #000000;
--core-color-brand-25: #FAFBFA;
--core-color-brand-50: #F2F5F3;
--core-color-brand-100: #E5EBE8;
--core-color-brand-200: #D4DDD9;
--core-color-brand-300: #B2C3BB;
--core-color-brand-400: #92AA9F;
--core-color-brand-500: #799689;
--core-color-brand-600: #647C72;
--core-color-brand-700: #4F635A;
--core-color-brand-800: #41534B;
--core-color-brand-900: #35453E;
--core-color-brand-950: #232F2A;
--core-color-secondary-25: #F9FCFC;
--core-color-secondary-50: #F0F6F6;
--core-color-secondary-100: #E3EDED;
--core-color-secondary-200: #CBDCDC;
--core-color-secondary-300: #AAC5C5;
--core-color-secondary-400: #719E9E;
--core-color-secondary-500: #4F8786;
--core-color-secondary-600: #447373;
--core-color-secondary-700: #3B6463;
--core-color-secondary-800: #315252;
--core-color-secondary-900: #274140;
--core-color-secondary-950: #1D2F2F;
--core-color-highlight-25: #FEFCFB;
--core-color-highlight-50: #FEF9F6;
--core-color-highlight-100: #FDF3EE;
--core-color-highlight-200: #FBE8DF;
--core-color-highlight-300: #F6CCBA;
--core-color-highlight-400: #EB885C;
--core-color-highlight-500: #E5662F;
--core-color-highlight-600: #C65827;
--core-color-highlight-700: #A74A1F;
--core-color-highlight-800: #883B18;
--core-color-highlight-900: #692D10;
--core-color-highlight-950: #4A1F08;
--core-color-grey-25: #FAFAFA;
--core-color-grey-50: #F2F2F2;
--core-color-grey-100: #E8E8E8;
--core-color-grey-200: #DBDCDC;
--core-color-grey-300: #C1C3C2;
--core-color-grey-400: #909393;
--core-color-grey-500: #646867;
--core-color-grey-600: #535756;
--core-color-grey-700: #3E4140;
--core-color-grey-800: #2D2F2E;
--core-color-grey-900: #202221;
--core-color-grey-950: #111312;
--core-color-error-25: #FEFAFA;
--core-color-error-50: #FDF4F4;
--core-color-error-100: #FAE0DE;
--core-color-error-200: #F8CCC9;
--core-color-error-300: #F2A29E;
--core-color-error-400: #EB726B;
--core-color-error-500: #E5453D;
--core-color-error-600: #CA3D35;
--core-color-error-700: #AE352D;
--core-color-error-800: #8D2A25;
--core-color-error-900: #76231E;
--core-color-error-950: #511915;
--core-color-warning-25: #FEFDFB;
--core-color-warning-50: #FDF9F2;
--core-color-warning-100: #F7E6CA;
--core-color-warning-200: #EFCE95;
--core-color-warning-300: #E8BA6D;
--core-color-warning-400: #E1AA4C;
--core-color-warning-500: #DD9720;
--core-color-warning-600: #B77C1A;
--core-color-warning-700: #8F6114;
--core-color-warning-800: #704C10;
--core-color-warning-900: #5A3E0C;
--core-color-warning-950: #3F2C09;
--core-color-success-25: #EFFBF7;
--core-color-success-50: #E5F5EE;
--core-color-success-100: #D2EEE2;
--core-color-success-200: #AADFC8;
--core-color-success-300: #7DCEAC;
--core-color-success-400: #58C094;
--core-color-success-500: #3BAA7A;
--core-color-success-600: #308C64;
--core-color-success-700: #287152;
--core-color-success-800: #215F44;
--core-color-success-900: #1A4C37;
--core-color-success-950: #123628;
--core-color-leaf-25: #F5F9F0;
--core-color-leaf-50: #DFEDCF;
--core-color-leaf-100: #CAE1AD;
--core-color-leaf-200: #B4D58C;
--core-color-leaf-300: #9EC86A;
--core-color-leaf-400: #89BC48;
--core-color-leaf-500: #73B027;
--core-color-leaf-600: #5A8A1E;
--core-color-leaf-700: #497119;
--core-color-leaf-800: #3C5C14;
--core-color-leaf-900: #2F480F;
--core-color-leaf-950: #1C2C09;
--core-color-forest-25: #F1F9F6;
--core-color-forest-50: #DCEFEA;
--core-color-forest-100: #C3E5DA;
--core-color-forest-200: #9CD4C4;
--core-color-forest-300: #82C9B4;
--core-color-forest-400: #6ABEA5;
--core-color-forest-500: #4DB294;
--core-color-forest-600: #3C8B74;
--core-color-forest-700: #2E6B59;
--core-color-forest-800: #255647;
--core-color-forest-900: #1A3D33;
--core-color-forest-950: #132C25;
--core-color-waterblue-25: #F0F7FA;
--core-color-waterblue-50: #DAECF1;
--core-color-waterblue-100: #C3E1EA;
--core-color-waterblue-200: #B0D7E3;
--core-color-waterblue-300: #92C8D8;
--core-color-waterblue-400: #74B8CE;
--core-color-waterblue-500: #52A7C2;
--core-color-waterblue-600: #42889E;
--core-color-waterblue-700: #366F81;
--core-color-waterblue-800: #2A5664;
--core-color-waterblue-900: #1F414C;
--core-color-waterblue-950: #142930;
--core-color-clearblue-25: #ECF4FE;
--core-color-clearblue-50: #D0E4FB;
--core-color-clearblue-100: #A0C9F8;
--core-color-clearblue-200: #76B1F4;
--core-color-clearblue-300: #509BF1;
--core-color-clearblue-400: #2F88EF;
--core-color-clearblue-500: #1277ED;
--core-color-clearblue-600: #0E60BE;
--core-color-clearblue-700: #0B4C98;
--core-color-clearblue-800: #093B76;
--core-color-clearblue-900: #062C58;
--core-color-clearblue-950: #052143;
--core-color-purple-25: #F4EFFA;
--core-color-purple-50: #EAE0F5;
--core-color-purple-100: #D1BDEA;
--core-color-purple-200: #C1A6E3;
--core-color-purple-300: #B08EDC;
--core-color-purple-400: #9B6FD2;
--core-color-purple-500: #8853CA;
--core-color-purple-600: #7245A8;
--core-color-purple-700: #5D388A;
--core-color-purple-800: #4C2E70;
--core-color-purple-900: #3B2457;
--core-color-purple-950: #2D1A42;
--core-color-magenta-25: #FBEEF8;
--core-color-magenta-50: #F7DAEF;
--core-color-magenta-100: #F0BCE3;
--core-color-magenta-200: #E897D3;
--core-color-magenta-300: #E17AC7;
--core-color-magenta-400: #DA58B9;
--core-color-magenta-500: #D12EA8;
--core-color-magenta-600: #AC258B;
--core-color-magenta-700: #8A1E70;
--core-color-magenta-800: #6D1858;
--core-color-magenta-900: #541244;
--core-color-magenta-950: #3F0D33;
--core-color-rosered-25: #FCEEF2;
--core-color-rosered-50: #F6D4DE;
--core-color-rosered-100: #F5BACB;
--core-color-rosered-200: #ED87A6;
--core-color-rosered-300: #E56C90;
--core-color-rosered-400: #E05880;
--core-color-rosered-500: #D93B6A;
--core-color-rosered-600: #BD335D;
--core-color-rosered-700: #99294A;
--core-color-rosered-800: #7A213C;
--core-color-rosered-900: #57172A;
--core-color-rosered-950: #4A1424;
--core-color-yellow-25: #FEFDF1;
--core-color-yellow-50: #FDFBE9;
--core-color-yellow-100: #FDF6C7;
--core-color-yellow-200: #FBED9E;
--core-color-yellow-300: #F8E17F;
--core-color-yellow-400: #F1C53F;
--core-color-yellow-500: #DFAB34;
--core-color-yellow-600: #BF8727;
--core-color-yellow-700: #975F1B;
--core-color-yellow-800: #7C4B19;
--core-color-yellow-900: #693D19;
--core-color-yellow-950: #4E2E12;
--core-alpha-white-0: #FFFFFF00;
--core-alpha-white-5: #FFFFFF0C;
--core-alpha-white-10: #FFFFFF19;
--core-alpha-white-20: #FFFFFF33;
--core-alpha-white-30: #FFFFFF4C;
--core-alpha-white-40: #FFFFFF66;
--core-alpha-white-50: #FFFFFF7F;
--core-alpha-white-60: #FFFFFF99;
--core-alpha-white-70: #FFFFFFB2;
--core-alpha-white-80: #FFFFFFCC;
--core-alpha-white-90: #FFFFFFE5;
--core-alpha-white-95: #FFFFFFF2;
--core-alpha-white-100: #FFFFFF;
--core-alpha-black-0: #00000000;
--core-alpha-black-5: #0000000C;
--core-alpha-black-10: #00000019;
--core-alpha-black-20: #00000033;
--core-alpha-black-30: #0000004C;
--core-alpha-black-40: #00000066;
--core-alpha-black-50: #0000007F;
--core-alpha-black-60: #00000099;
--core-alpha-black-70: #000000B2;
--core-alpha-black-80: #000000CC;
--core-alpha-black-90: #000000E5;
--core-alpha-black-95: #000000F2;
--core-alpha-black-100: #000000;
--core-alpha-grey950-0: #0D0E1200;
--core-alpha-grey950-5: #0D0E120C;
--core-alpha-grey950-10: #0D0E1219;
--core-alpha-grey950-20: #0D0E1233;
--core-alpha-grey950-30: #0D0E124C;
--core-alpha-grey950-40: #0D0E1266;
--core-alpha-grey950-50: #0D0E127F;
--core-alpha-grey950-60: #0D0E1299;
--core-alpha-grey950-70: #0D0E12B2;
--core-alpha-grey950-80: #0D0E12CC;
--core-alpha-grey950-90: #0D0E12E5;
--core-alpha-grey950-95: #0D0E12F2;
--core-alpha-grey950-100: #0D0E12;
--core-alpha-brand-0: #79968900;
--core-alpha-brand-5: #7996890C;
--core-alpha-brand-10: #79968919;
--core-alpha-brand-20: #79968933;
--core-alpha-brand-30: #7996894C;
--core-alpha-brand-40: #79968966;
--core-alpha-brand-50: #7996897F;
--core-alpha-brand-60: #79968999;
--core-alpha-brand-70: #799689B2;
--core-alpha-brand-80: #799689CC;
--core-alpha-brand-90: #799689E5;
--core-alpha-brand-95: #799689F2;
--core-alpha-brand-100: #799689;
--core-alpha-leaf-0: #73B02700;
--core-alpha-leaf-5: #73B0270C;
--core-alpha-leaf-10: #73B02719;
--core-alpha-leaf-20: #73B02733;
--core-alpha-leaf-30: #73B0274C;
--core-alpha-leaf-40: #73B02766;
--core-alpha-leaf-50: #73B0277F;
--core-alpha-leaf-60: #73B02799;
--core-alpha-leaf-70: #73B027B2;
--core-alpha-leaf-80: #73B027CC;
--core-alpha-leaf-90: #73B027E5;
--core-alpha-leaf-95: #73B027F2;
--core-alpha-leaf-100: #73B027;
--core-alpha-forest-0: #4DB29400;
--core-alpha-forest-5: #4DB2940C;
--core-alpha-forest-10: #4DB29419;
--core-alpha-forest-20: #4DB29433;
--core-alpha-forest-30: #4DB2944C;
--core-alpha-forest-40: #4DB29466;
--core-alpha-forest-50: #4DB2947F;
--core-alpha-forest-60: #4DB29499;
--core-alpha-forest-70: #4DB294B2;
--core-alpha-forest-80: #4DB294CC;
--core-alpha-forest-90: #4DB294E5;
--core-alpha-forest-95: #4DB294F2;
--core-alpha-forest-100: #4DB294;
--core-alpha-waterblue-0: #52A7C200;
--core-alpha-waterblue-5: #52A7C20C;
--core-alpha-waterblue-10: #52A7C219;
--core-alpha-waterblue-20: #52A7C233;
--core-alpha-waterblue-30: #52A7C24C;
--core-alpha-waterblue-40: #52A7C266;
--core-alpha-waterblue-50: #52A7C27F;
--core-alpha-waterblue-60: #52A7C299;
--core-alpha-waterblue-70: #52A7C2B2;
--core-alpha-waterblue-80: #52A7C2CC;
--core-alpha-waterblue-90: #52A7C2E5;
--core-alpha-waterblue-95: #52A7C2F2;
--core-alpha-waterblue-100: #52A7C2;
--core-alpha-clearblue-0: #1277ED00;
--core-alpha-clearblue-5: #1277ED0C;
--core-alpha-clearblue-10: #1277ED19;
--core-alpha-clearblue-20: #1277ED33;
--core-alpha-clearblue-30: #1277ED4C;
--core-alpha-clearblue-40: #1277ED66;
--core-alpha-clearblue-50: #1277ED7F;
--core-alpha-clearblue-60: #1277ED99;
--core-alpha-clearblue-70: #1277EDB2;
--core-alpha-clearblue-80: #1277EDCC;
--core-alpha-clearblue-90: #1277EDE5;
--core-alpha-clearblue-95: #1277EDF2;
--core-alpha-clearblue-100: #1277ED;
--core-alpha-purple-0: #8853CA00;
--core-alpha-purple-5: #8853CA0C;
--core-alpha-purple-10: #8853CA19;
--core-alpha-purple-20: #8853CA33;
--core-alpha-purple-30: #8853CA4C;
--core-alpha-purple-40: #8853CA66;
--core-alpha-purple-50: #8853CA7F;
--core-alpha-purple-60: #8853CA99;
--core-alpha-purple-70: #8853CAB2;
--core-alpha-purple-80: #8853CACC;
--core-alpha-purple-90: #8853CAE5;
--core-alpha-purple-95: #8853CAF2;
--core-alpha-purple-100: #8853CA;
--core-alpha-magenta-0: #D12EA800;
--core-alpha-magenta-5: #D12EA80C;
--core-alpha-magenta-10: #D12EA819;
--core-alpha-magenta-20: #D12EA833;
--core-alpha-magenta-30: #D12EA84C;
--core-alpha-magenta-40: #D12EA866;
--core-alpha-magenta-50: #D12EA87F;
--core-alpha-magenta-60: #D12EA899;
--core-alpha-magenta-70: #D12EA8B2;
--core-alpha-magenta-80: #D12EA8CC;
--core-alpha-magenta-90: #D12EA8E5;
--core-alpha-magenta-95: #D12EA8F2;
--core-alpha-magenta-100: #D12EA8;
--core-alpha-rosered-0: #D93B6A00;
--core-alpha-rosered-5: #D93B6A0C;
--core-alpha-rosered-10: #D93B6A19;
--core-alpha-rosered-20: #D93B6A33;
--core-alpha-rosered-30: #D93B6A4C;
--core-alpha-rosered-40: #D93B6A66;
--core-alpha-rosered-50: #D93B6A7F;
--core-alpha-rosered-60: #D93B6A99;
--core-alpha-rosered-70: #D93B6AB2;
--core-alpha-rosered-80: #D93B6ACC;
--core-alpha-rosered-90: #D93B6AE5;
--core-alpha-rosered-95: #D93B6AF2;
--core-alpha-rosered-100: #D93B6A;
--core-alpha-yellow-0: #DFAB3400;
--core-alpha-yellow-5: #DFAB340C;
--core-alpha-yellow-10: #DFAB3419;
--core-alpha-yellow-20: #DFAB3433;
--core-alpha-yellow-30: #DFAB344C;
--core-alpha-yellow-40: #DFAB3466;
--core-alpha-yellow-50: #DFAB347F;
--core-alpha-yellow-60: #DFAB3499;
--core-alpha-yellow-70: #DFAB34B2;
--core-alpha-yellow-80: #DFAB34CC;
--core-alpha-yellow-90: #DFAB34E5;
--core-alpha-yellow-95: #DFAB34F2;
--core-alpha-yellow-100: #DFAB34;
}
